Introduction

##1. Basic Syntax and Data Types
Comments and Print Statements

In [1]:
# Single-line comments use the hash symbol (#).
# Comments are useful for explaining code or for temporary debugging.

# The print() function is used to display output.
print("Hello World")

Hello World

Numerical Data Types

In [2]:
# Strings represent text
print("SIM")

# Integers are whole numbers
print(10)

# Long Integers (Python automatically handles big integers)
print(2**32)

# Floats represent decimal numbers
print(3.14)

# Complex Numbers use 'j' to represent the imaginary part
print(2+3j)

SIM
10
4294967296
3.14
(2+3j)

Boolean Values

In [3]:
# Boolean values represent True or False conditions
a = 5
b = 10 % 3  # Modulus operation gives the remainder
c = bool(a == b)  # bool() converts the result to True or False
print(c)

False

Finding the Data Type of a Variable

In [4]:
# Use type() to find the data type of a value or variable
print(type(a))
print(type("microsoft"))
print(type(4))

<class 'int'>
<class 'str'>
<class 'int'>

2. Sequence Types: Strings, Lists, and Tuples

Working with Strings

In [5]:
# Creating strings
name = "Jane"
last_name = "Doe"

# String concatenation
print("Full Name: " + name + " " + last_name)

# String formatting using .format()
print("Full Name: {0} {1}".format(name, last_name))

Full Name: Jane Doe
Full Name: Jane Doe

Working with Lists

In [6]:
# Lists can store multiple items in a single variable
list1 = []  # Empty list
list2 = ["J", "A", "N", "E"]
mixedlist = [True, "Jane", 173, 3.14]  # List with different data types

# Adding elements to a list
list1.append(1)
list1.append("Hi")
print(list1)

# Inserting elements at a specific position
list1.insert(0, 50)  # Insert 50 at index 0
print(list1)

# Removing elements by value
list1.remove(50)  # Only removes the first occurrence
print(list1)

[1, 'Hi']
[50, 1, 'Hi']
[1, 'Hi']

Working with Tuples

In [7]:
# Tuples are immutable sequences
parents = ("mother", "father")
print(type(parents))

# Converting a tuple to a list to add elements
tuplelist = list(parents)
tuplelist.append("sister")
print(tuplelist)

# Converting back to a tuple
new_tuple = tuple(tuplelist)
print(new_tuple)

<class 'tuple'>
['mother', 'father', 'sister']
('mother', 'father', 'sister')

3. Working with Sets

In [8]:
# Sets store unique elements and are unordered
x = {"pandas", "lions", "penguins", "flamingos", "pandas"}
print(x)

# Adding elements to a set
x.add("rhinos")
print(x)

# Removing elements from a set
x.remove("penguins")
print(x)

{'penguins', 'lions', 'flamingos', 'pandas'}
{'penguins', 'lions', 'rhinos', 'flamingos', 'pandas'}
{'lions', 'rhinos', 'flamingos', 'pandas'}

4. Working with Dictionaries

In [9]:
# Creating a dictionary
Richard = {
    "first_name": "Richard",
    "last_name": "Anderson",
    "age": 45,
    "tattoos": True
}
print(Richard)

# Accessing dictionary values
print(Richard['last_name'])

# Using the get method
first_name = Richard.get("first_name")
print("First Name: ", first_name)

{'first_name': 'Richard', 'last_name': 'Anderson', 'age': 45, 'tattoos': True}
Anderson
First Name:  Richard

1. Conditional Statements

If Statement with String Formatting

In [10]:
a = 5
b = 3

# If b is less than a, print the formatted string
if b < a:
    print("{1} is lesser than {0}".format(a, b))

3 is lesser than 5

Else Statement

In [11]:
a = 5
b = 3

# If a is less than b, execute the first print statement, otherwise execute the else block
if a < b:
    print("{1} is not lesser than {0}".format(a, b))
else:
    print("{1} is lesser than {0}".format(a, b))

3 is lesser than 5

Elif Statement

In [12]:
a = 5
b = 3
c = 5

# Check multiple conditions using elif (else-if)
if a < c:
    print("{1} is lesser than {0}".format(a, c))
elif a > c:
    print("{1} is not lesser than {0}".format(a, c))
else:
    print("a and c are equal")

a and c are equal

2. The range() Function
Using range() in a Loop

In [13]:
# A simple for loop that iterates over a range of numbers from 0 to 4
for i in range(5):
    print(i)

0
1
2
3
4

Creating a List Using range()

In [14]:
# Creating a list of numbers from 0 to 9
listr = list(range(10))
print(listr)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

List with Step Argument

In [15]:
# Creating a list starting from 5, ending at -5, with a step of -1
list_s = list(range(5, -5, -1))
print(list_s)

[5, 4, 3, 2, 1, 0, -1, -2, -3, -4]

3. Loop Control Statements

In [16]:
# Breaks the loop when n becomes greater than 10
n = 1
while n <= 100:
    print(n)
    n += 1
    if n > 10:
        break
print("The while loop ends here")

1
2
3
4
5
6
7
8
9
10
The while loop ends here

continue Statement

In [17]:
# Skips the iteration when num equals 4
for num in range(6):
    if num == 4:
        continue
    print("Printed number: {0}".format(num))
print("Loop ends here")

Printed number: 0
Printed number: 1
Printed number: 2
Printed number: 3
Printed number: 5
Loop ends here

pass Statement

In [18]:
# `pass` does nothing, but it allows the loop to continue normally
for num in range(6):
    if num == 4:
        pass
    print("Printed number is: {0}".format(num))
print("Out of loop")

Printed number is: 0
Printed number is: 1
Printed number is: 2
Printed number is: 3
Printed number is: 4
Printed number is: 5
Out of loop

4. Working with Dictionaries
Creating a Dictionary

In [19]:
Richard = {
    "first_name": "Richard",
    "last_name": "Anderson",
    "age": 45,
    "tattoos": True
}
print(Richard)

{'first_name': 'Richard', 'last_name': 'Anderson', 'age': 45, 'tattoos': True}

Getting All Keys and Values

In [20]:
# Retrieving all keys
keys = Richard.keys()
print(keys)  # Output: dict_keys(['first_name', 'last_name', 'age', 'tattoos'])

# Retrieving all values
values = Richard.values()
print(values)

dict_keys(['first_name', 'last_name', 'age', 'tattoos'])
dict_values(['Richard', 'Anderson', 45, True])

Iterating Through Dictionary Items

In [21]:
# Iterating through keys and values
for key, value in Richard.items():
    print(f"key = {key}, value = {value}")

key = first_name, value = Richard
key = last_name, value = Anderson
key = age, value = 45
key = tattoos, value = True

Nested Dictionary Example

In [22]:
sch_rec = {
    "name": "Ryan",
    "grade": 12,
    "score": {
        "english": 87,
        "math": 90,
        "science": 95,
        "mother tongue": 55
    }
}
print(sch_rec)

# Accessing nested keys
keys_nested = sch_rec['score'].keys()
print(keys_nested)

{'name': 'Ryan', 'grade': 12, 'score': {'english': 87, 'math': 90, 'science': 95, 'mother tongue': 55}}
dict_keys(['english', 'math', 'science', 'mother tongue'])

5. Functions
Defining and Calling a Function

In [23]:
# Define a simple addition function
def addition(num1, num2):
    total = num1 + num2
    return total

# Call the function
result = addition(5, 7)
print(result)

12

Defining a Palindrome Function

In [24]:
# Function to check if a word is a palindrome
def is_palindrome(word):
    word = word.lower().replace(" ", "")  # Convert to lowercase and remove spaces
    return word == word[::-1]  # Check if the word is the same when reversed

# Check if "taco cat" is a palindrome
print(is_palindrome("taco cat"))

True

Magic 8-Ball Function

In [25]:
import random

# Function to simulate a magic 8-ball response
def magic_8_ball():
    responses = [
        "Yes", "No", "It is certain", "Without a doubt",
        "Reply hazy, try again", "Don't count on it",
        "My sources say no", "Outlook not so good", "Very doubtful",
        "You may rely on it"
    ]
    return random.choice(responses)

# Example usage
question = "Is it worthwhile to join DAC?"
answer = magic_8_ball()
print(f"Question: {question}")
print(f"Magic 8-Ball says: {answer}")

Question: Is it worthwhile to join DAC?
Magic 8-Ball says: Yes