# DACademy Session 1: Basic GitHub + Intro to Python

## Comments and Print Statements:

In [ ]:
# Welcome to DAC!
# Single-line comments use the ______
# Comments are useful for explaining code or for temporary debugging

"""
Multi-line comments are created using ______
They can span multiple lines and are often used for detailed explanations or documentation.
Hi hi hi hi hi
"""

# The print() function is used to display output
print("Hello this is mmy nth time using python")
a = "hihi"
print(a)
b = 12
c = 2445

**Keyboard Shortcuts to Run Code**


*   Mac: Command (âŒ˜) + Enter
*   Windows: Ctrl + Enter

In [ ]:
# Now try printing your name!
print("zeejay")

## Basic Arithmetic Operations and Data Types

In [ ]:
# Arithmetic Operators: + - * / % **

# Addition +
print(8+3)
# Subtraction -
print(2321-32)
# Multiplication *
print(21*32)
# Division /
print(8656/6)
# Modulo % (Gives the remainder of division, e.g., 8 % 3 = 2)
print(8 % 3)
# Exponentiation **
print(8**4)

In [ ]:
# Text inside quotes is known as a string
# Can use either "" or '', both work the same

# This is to show you that the string can contain any special characters
print("!@#$%jkwewuorweprh6546846515648646546")

# Integers are whole numbers
print(10)
# Long Integers (Python automatically handles big integers)
print(2**35)
# Floats represent decimal numbers
print(3.14)
# Complex Numbers use 'j' to represent the imaginary part
print(2+3j)

## Boolean
*   Booleans represent one of two values: True or False.

In [ ]:

  # Modulus operation gives the remainder of 10 divided by 3 (which is 1)
  # bool() converts the result of the comparison to True or False
  # This will print False since 5 is not equal to 1
a = 1
b = 5
c = bool(a==b)
print(c)

In [ ]:
# Equals ==
print(5 == 5)
print(5 == 4)
# Inqual !=
print(5!=4)
# More than >
print(5 > 4)
# More than and equal to >=
print(5>=4)
# Less than <
print(5<4)
# Less than and equal to <=
print(5<=4)

In [ ]:
# Using Boolean to find the Data Type of a Variable
# Use type() to find the data type of a value or variable
a = True
print(type(a))
 # A Boolean value can be either True or False.
 # This checks the type of 'a' and will return <class 'bool'>
print(type("I just wann"))
# Checking the type of a string
  # This will return <class 'str'>, indicating it's a string.
print(type(1))
# Checking the type of an integer
  # This will return <class 'int'>, indicating it's an integer.

## Converting Data types

In [ ]:
# Convert a float to an integer
(int(6.55342)) # Output: 6

# Convert an integer to a float
(float(3))
 # Output: 3.0

# Convert an integer to a string and print its type
  # Output: <class 'str'>
(type(str(6)))
# Convert a non-zero integer to a boolean
(bool(5))

  # Output: True (Any non-zero value is considered True)

# Note on variable naming:
# It's best to avoid using function names as variable names to prevent confusion.
  # Use descriptive names for clarity
decimal_value = 3.124
(decimal_value)


  # Keep the variable name clear and relevant

## Sequence Types: Strings, Lists, and Tuples

### Working with Strings

In [1]:
# Creating strings
first_name = "teo"
# print(type(name))
print(first_name)

# last_name = "jay"
# Combining strings
  # Remember to include spaces within the quotes; otherwise, the result will be "JunYo" instead of "Jun Yo".
# print("Full Name:" + name + " " + last_name)
# Alternative Method for String Formatting
  # The numbers {0} and {1} correspond to the respective order of the variables: Jun = 0, Yo = 1.
# print("Full Name:{0}{1}".format(name,last_name))

teo

### Working with Lists

*   [ ]
*   It is used to store multiple items in a single variable

Just some things to note

(Example)
In the list: list4 = [3, 1, 4, 1, 5]

*   **list4** is the **variable** that stores the list.
*   **3, 1, 4, 1, 5** are the **elements** in the list.
*   **Indexes** represent the **position** of each element, **starting from 0:**
     *   '3' is at index 0
     *   '1' is at index 1
     *   '4' is at index 2
     *   '1' is at index 3
     *   '5' is at index 4

In [35]:
 # Empty list
list1 = {1,2,3,4,5}
print(list1)
list2 = [1,2,3,4,5,6]
print(list2)
mixedlist = [True, "Monday", 134, 3.14]
print(mixedlist)
mixedlist2 = {True, "Monday", 134, 3.14}
print(mixedlist2)



 # List with different data types

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5, 6]
[True, 'Monday', 134, 3.14]
{True, 3.14, 134, 'Monday'}

In [21]:
# Adding elements to a list using the above variables
#list3.append(1)
list2.append("yay")
print(list2)
  # Adding an integer to the list
  # Adding a string to the list
  # Output: [1, "AHH"]

  # Adding a string to the mixed list
  # Output: [True, 'Slay', 173, 3.14, 'AHH']

"""
Note on the append() method:

The append() method adds the element to the end of the list each time it is executed.
Calling append() multiple times (i.e., running this code again) will continue to add the elements to the existing list, rather than starting over.
(So, the same element will be added twice if you run the code twice, three times if you run it three times, and so on.)
To reset the list, you can reinitialize it (rerun the code from the beginning).
"""

[1, 2, 3, 4, 5, 6, 'yay']

'\nNote on the append() method:\n\nThe append() method adds the element to the end of the list each time it is executed.\nCalling append() multiple times (i.e., running this code again) will continue to add the elements to the existing list, rather than starting over.\n(So, the same element will be added twice if you run the code twice, three times if you run it three times, and so on.)\nTo reset the list, you can reinitialize it (rerun the code from the beginning).\n'

In [33]:
# Inserting elements into a list at a specific position
# Syntax: list_.insert(position, item)
list2.insert(0,50)
print(list2)
  # Insert the number 50 at the 0th index (1st number is the position, 2nd is the element to add)
  # Output will show 50 at the start of the list

[50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 1, 2, 3, 4, 5, 6, 'yay']

In [36]:
# Deleting elements from a list
del list2[0]
print(list2)
# Using `del` to delete by index
  # Deletes the element at index 0 (1st element in the list)
  # Output: List with the 1st element removed

[2, 3, 4, 5, 6]

In [40]:
# Alternative Method for Deleting elements from a list
list2.remove(4)
print(list2)
# Using `remove()` to delete by value
  # Removes the first occurrence of the value 50 from the list
  # Output: List without the first 50

[2, 5, 6]

In [43]:
# List Indexing
list4 = [3,1,4,1,5]
index_list4 = list4.index(3)
print(index_list4)
  # Finds the index position of the element '3' in the list
  # Output: 0 (since '3' is at the 0th index)

0

In [45]:
# Finding minimum and maximum values in a list
  # Use the min() function to find the smallest element in list4
  # Use the max() function to find the largest element in list4
min_list4 = min(list4)
max_list4 = max(list4)

print(min_list4, max_list4)
print("Maximum value:", max_list4)
print("Minimum value:", min_list4)


# With labels
  # Output the minimum value
  # Output the maximum value

1 5
Maximum value: 5
Minimum value: 1

In [47]:
listNum = [4,1,1,3,45,6,7,8,5,4,3,5,7,5,5,6,5]
sorted_listNum = sorted(listNum)
print(sorted_listNum)

 # Use the sorted() function to sort the list
 # Output the sorted list

[1, 1, 3, 3, 4, 4, 5, 5, 5, 5, 5, 6, 6, 7, 7, 8, 45]

In [50]:
listNum2 = [1,2,56,5,5,6,7,8,9,3,3,4,6,78,9]
listNum2.reverse()
print(listNum2)


 # Reverse listNum2
 # Otput the reversed list

[9, 78, 6, 4, 3, 3, 9, 8, 7, 6, 5, 5, 56, 2, 1]

In [52]:
listNum2 = [1,2,56,5,5,6,7,8,9,3,3,4,6,78,9]
listNum2.clear()
print(listNum2)
 # Clear all elements from the list
 # Print the cleared list

[]

In [54]:
list5 = ["M","A","Y"]
list6 = ["A",123]
listAdded = list5 + list6 # Add the two lists together
print(listAdded) # Output the added list

['M', 'A', 'Y', 'A', 123]

In [56]:
listNames = ["Kaavya","M"]
listMultiplied = listNames * 2 # Multiply the list by 2
print(listMultiplied) # Output the multiplied list

['Kaavya', 'M', 'Kaavya', 'M']

### Working with Tuples
- Immutable
- It is a ordered sequence of values

In [58]:
dance = ("jazz","tap")
type(dance)
 # Check the type of the 'parents' variable

tuple

In [60]:
tuplelist = list(dance)
print(tuplelist) # Output the list
type(tuplelist) # Check the type of 'tuplelist'

['jazz', 'tap']

list

In [63]:
tuplelist.append("Ballet")
tuplelist.append("Hip Hop")
tuplelist.append("Salsa") # Add new line to the list 'tuplelist'
print(tuplelist) # Output the updated list

['jazz', 'tap', 'Ballet', 'Hip Hop', 'Salsa', 'Ballet', 'Hip Hop', 'Salsa']

In [64]:
new_tuple = tuple(tuplelist) # Convert the list 'tuplelist' back to a tuple
print(new_tuple) # Check the value of the new tuple

('jazz', 'tap', 'Ballet', 'Hip Hop', 'Salsa', 'Ballet', 'Hip Hop', 'Salsa')

In [65]:
length_of_tuplelist = len(tuplelist) # Get the length of the list 'tuplelist'
print(length_of_tuplelist) # Output of the length

8

## Working with Sets

{ }
- It is an unordered collection with no duplicate elements
- Computer implementation of the mathematical concept of a finite set
- Mutable

In [66]:
x = {"dog","cat","wolf"}
print(x)

 # Output of the set

{'wolf', 'dog', 'cat'}

In [67]:
 x.add("fish") # Add an element to the set
 print(x)# Output of the updated set

{'wolf', 'fish', 'dog', 'cat'}

In [68]:
 x.remove("cat") # Remove an element from the set
 print(x)# Output of the updated set

{'wolf', 'fish', 'dog'}

In [69]:
z = {(1,2,3),"Hello",2,4.3}
print(z)
 # Output of the set

{2, (1, 2, 3), 4.3, 'Hello'}

In [73]:
r = [1,2,3,4,4,5,7,8,90]
print(r) # Output of the original list

r_set = set(r) # Convert the list to a set (to remove duplicates)
print(r_set) # Output of the converted set

type_of_r_set = type(r_set) # Check the data type of r_set
print(type_of_r_set) # Output of the converted set

[1, 2, 3, 4, 4, 5, 7, 8, 90]
{1, 2, 3, 4, 5, 7, 8, 90}
<class 'set'>