# DACademy Session 1: Basic GitHub + Intro to Python

## Comments and Print Statements:

In [3]:
# Welcome to DAC!
# Single-line comments use the __hash symbol (#)____
# Comments are useful for explaining code or for temporary debugging

"""
Multi-line comments are created using _triple quote_____
They can span multiple lines and are often used for detailed explanations or documentation.
Hi hi hi hi hi
"""

# The print() function is used to display output
print("Hello World")

Hello World

**Keyboard Shortcuts to Run Code**


*   Mac: Command (âŒ˜) + Enter
*   Windows: Ctrl + Enter

In [36]:
# Now try printing your name!
print("My name is Dolly")

## short cut for running whole code: shift + return

My name is Dolly

## Basic Arithmetic Operations and Data Types

In [53]:
# Arithmetic Operators: + - * / % **

# Addition +
print(2+2)
# Subtraction -
print(3-2)
# Multiplication *
print(8*2)
# Division /
print(8/7)
# Modulo % (Gives the remainder of division, e.g., 8 % 3 = 2)
print(8/3)
## If you don't have the print() funtion, it wont print in order
#  instead they would just replace the results and take the final arithmetic operations into consideration
# Exponentiation **
print(8**3)

4
1
16
1.1428571428571428
2.6666666666666665
512

In [61]:
# Text inside quotes is known as a string
# Can use either "" or '', both work the same
print('Hi')
# This is to show you that the string can contain any special characters
print("!@#$%jkwewuorweprh6546846515648646546")

# Integers are whole numbers
print(10)
# Long Integers (Python automatically handles big integers)
print(2**32)
## CS Code is sensitive to upper case
# Floats represent decimal numbers
print(3.14)
# Complex Numbers use 'j' to represent the imaginary part

Hi
!@#$%jkwewuorweprh6546846515648646546
10
4294967296
3.14

## Boolean
*   Booleans represent one of two values: True or False.

In [67]:
a=5
b=10%3
c=(bool(a==b))
print(c)
  # Modulus operation gives the remainder of 10 divided by 3 (which is 1)
  # bool() converts the result of the comparison to True or False
  # This will print False since 5 is not equal to 1

False

In [73]:
# Equals ==

print (5==5)
# Inqual !=
print(5!=5)
# More than >
print(4>9)
# More than and equal to >=
print(4>=3)
# Less than <
print(1<8)
# Less than and equal to <=
print(2<=2)

True
False
False
True
True
True

In [90]:
# Using Boolean to find the Data Type of a Variable
# Use type() to find the data type of a value or variable

 # A Boolean value can be either True or False.
 # This checks the type of 'a' and will return <class 'bool'>
a=True
print(type(a))
# if cannot, try check whether they have space in front of the code or not

# Checking the type of a string
  # This will return <class 'str'>, indicating it's a string.
print(type("DAC"))
# Checking the type of an integer
  # This will return <class 'int'>, indicating it's an integer.
print(type(2))

<class 'bool'>
<class 'str'>
<class 'int'>

## Converting Data types

In [96]:
# Convert a float to an integer by using int(decimal numbers)
  # Output: 6
print(int(6.4444))
# Convert an integer to a float
  # Output: 3.0
print(float(3))
# Convert an integer to a string and print its type
  # Output: <class 'str'> ## desired output, instead of the string itself
print(type(str(1234)))
# Convert a non-zero integer to a boolean
  # Output: True (Any non-zero value is considered True)
print(bool(5))
# Note on variable naming:
# It's best to avoid using function names as variable names to prevent confusion.
decimal_value = 3.12  # Use descriptive names for clarity
print(decimal_value)
a

  # Keep the variable name clear and relevant

6
3.0
<class 'str'>
True
3.12

## Sequence Types: Strings, Lists, and Tuples

### Working with Strings

In [107]:
# Creating strings
name ="Dolly"
print(name)
# Combining strings
last_name="Tran"
  # Remember to include spaces within the quotes; otherwise, the result will be "JunYo" instead of "Jun Yo".
print("Full name:" + ' '+name+' '+last_name)
# Alternative Method for String Formatting
  # The numbers {0} and {1} correspond to the respective order of the variables: Dolly = 0, Tran = 1.
print("Full name: {0} {1}".format(name, last_name))

Dolly
Full name: Dolly Tran
Full name: Dolly Tran

### Working with Lists

*   [ ]
*   It is used to store multiple items in a single variable

Just some things to note

(Example)
In the list: list4 = [3, 1, 4, 1, 5]

*   **list4** is the **variable** that stores the list.
*   **3, 1, 4, 1, 5** are the **elements** in the list.
*   **Indexes** represent the **position** of each element, **starting from 0:**
     *   '3' is at index 0
     *   '1' is at index 1
     *   '4' is at index 2
     *   '1' is at index 3
     *   '5' is at index 4

In [5]:
 # Empty list
list_1=[]
print (list_1)

mixed_list=[5,4,2,0,0,3,True,'Hi']
print(mixed_list)
# This list can contain different types of variables.



 # List with different data types

[]
[5, 4, 2, 0, 0, 3, True, 'Hi']

In [15]:
# Adding elements to a list using the above variables
list_1.append(1)
list_1.append("yay")
print(list_1)
list_1.append(2,"hi")
## This append method only can add 1 element

  # Adding an integer to the list
  # Adding a string to the list
  # Output: [1, "AHH"]
mixed_list.append("Yay")
print(mixed_list)
  # Adding a string to the mixed list
  # Output: [True, 'Slay', 173, 3.14, 'AHH']

"""
Note on the append() method:

The append() method adds the element to the end of the list each time it is executed.
Calling append() multiple times (i.e., running this code again) will continue to add the elements to the existing list, rather than starting over.
(So, the same element will be added twice if you run the code twice, three times if you run it three times, and so on.)
To reset the list, you can reinitialize it (rerun the code from the beginning).
"""

[50, 1, 'yay', 1, 'yay', 1, 'yay', 1, 'yay', 1, 'yay', 1, 'yay', 1, 'yay']

TypeError: list.append() takes exactly one argument (2 given)

In [13]:
# Inserting elements into a list at a specific position
# Syntax: list_.insert(position, item)
list_1.insert(0,50)
print(list_1)
  # Insert the number 50 at the 0th index (1st number is the position, 2nd is the element to add)
  # Output will show 50 at the start of the list

[50, 50, 1, 'yay', 1, 'yay', 1, 'yay', 1, 'yay', 1, 'yay', 1, 'yay']

In [14]:
# Deleting elements from a list
del list_1[0]
print(list_1)
# Using `del` to delete by index
  # Deletes the element at index 0 (1st element in the list)
  # Output: List with the 1st element removed

[50, 1, 'yay', 1, 'yay', 1, 'yay', 1, 'yay', 1, 'yay', 1, 'yay']

In [16]:
# Alternative Method for Deleting elements from a list
list_1.remove("yay")
print(list_1)
# Using `remove()` to delete by value
  # Removes the first occurrence of the value 50 from the list
  # Output: List without the first 50

[50, 1, 1, 'yay', 1, 'yay', 1, 'yay', 1, 'yay', 1, 'yay', 1, 'yay']

In [20]:
# List Indexing
list4=[3,1,4.1,5]
index_list4=list4.index(3)
print(index_list4)
  # Finds the index position of the element '3' in the list
  # Output: 0 (since '3' is at the 0th index)

0

In [25]:
# Finding minimum and maximum values in a list
  # Use the min() function to find the smallest element in list4
  # Use the max() function to find the largest element in list4
min_list4=min(list4)
max_list4=max(list4)
print(min_list4)
print(max_list4)



# With labels
print("Minmimum value is:", min_list4)
print("Maximum value is:", max_list4)
  # Output the minimum value
  # Output the maximum value

1
5
Minmimum value is: 1
Maximum value is: 5

In [28]:

listNum=[4,2,1,3,6,5,9]
sort_listNum=sorted(listNum)
print(sort_listNum)
 # Use the sorted() function to sort the list
 # Output the sorted list

[1, 2, 3, 4, 5, 6, 9]

In [32]:
listNum2=[1,2,3,4,5,6,9]
listNum2.reverse()
print(listNum2)
 # Reverse listNum2
 # Otput the reversed list

[9, 6, 5, 4, 3, 2, 1]

In [33]:
listNum2=[1,2,3,4,5,6,9]
listNum2.clear()
print(listNum2)
 # Clear all elements from the list
 # Print the cleared list

[]

In [35]:

list5 = ["M","A",'Y']
list6 = [1,4,6.5]
listAdded=list5 +list6
print(listAdded)
 # Add the two lists together
 # Output the added list

['M', 'A', 'Y', 1, 4, 6.5]

In [37]:
Multiply=listAdded*2
print(Multiply)
 # Multiply the list by 2
 # Output the multiplied list

['M', 'A', 'Y', 1, 4, 6.5, 'M', 'A', 'Y', 1, 4, 6.5]

### Working with Tuples
- Immutable
- It is a ordered sequence of values

In [39]:
dance=("jazz",'tap')
type(dance)
 # Check the type of the 'parents' variable

tuple

In [40]:
tuplelist=list(dance)
print(tuplelist)
 # Output the list
 # Check the type of 'tuplelist'

['jazz', 'tap']

In [42]:
tuplelist.append("Ballet")
print(tuplelist)
 # Add new line to the list 'tuplelist'
 # Output the updated list

['jazz', 'tap', 'Ballet']

In [43]:
tuple=tuple(tuplelist)
print(tuple)
 # Convert the list 'tuplelist' back to a tuple
 # Check the value of the new tuple

('jazz', 'tap', 'Ballet')

In [44]:
length_of_tuple=len(tuplelist)
print(length_of_tuple)

# Get the length of the list 'tuplelist'
 # Output of the length

3

## Working with Sets

{ }
- It is an unordered collection with no duplicate elements
- Computer implementation of the mathematical concept of a finite set
- Mutable

In [45]:
x={'dog','cat',234}
 # Output of the set
print(x)

{234, 'cat', 'dog'}

In [46]:
x.add("fish")
print(x) 
# Add an element to the set
 # Output of the updated set

{234, 'cat', 'fish', 'dog'}

In [47]:
x.remove("cat")
print(x)
 # Remove an element from the set
 # Output of the updated set

{234, 'fish', 'dog'}

In [51]:
z={(1,2,3),"hello",2,4.3}
print(z)
 # Output of the set

{2, (1, 2, 3), 'hello', 4.3}

In [63]:
r=[1,2,3,4,5,7,4]
print(r)
 # Output of the original list
set_r= set(r)
print(set_r)

 # Convert the list to a set (to remove duplicates)
 # Output of the converted set
type_of_r=type(set_r)
print(type_of_r)

 # Check the data type of r_set
 # Output of the converted set

[1, 2, 3, 4, 5, 7, 4]
{1, 2, 3, 4, 5, 7}
<class 'set'>