# DACademy Session 1: Basic GitHub + Intro to Python

## Comments and Print Statements:

In [1]:
# Welcome to DAC!
# Single-line comments use the ______
# Comments are useful for explaining code or for temporary debugging

"""
Multi-line comments are created using ______
They can span multiple lines and are often used for detailed explanations or documentation.
Hi hi hi hi hi
"""

# The print() function is used to display output
print("Hello World")

Hello World

**Keyboard Shortcuts to Run Code**


*   Mac: Command (âŒ˜) + Enter
*   Windows: Ctrl + Enter

In [2]:
# Now try printing your name!
print("Beatrice")

Beatrice

## Basic Arithmetic Operations and Data Types

In [4]:
# Arithmetic Operators: + - * / % **

# Addition +
print(8 + 3)
# Subtraction -
print(8 - 3)
# Multiplication *
print(8 * 3)
# Division /
print(8 / 3)
# Modulo % (Gives the remainder of division, e.g., 8 % 3 = 2)
print(8 % 3)
# Exponentiation **
print(8 ** 3)

11
5
24
2.6666666666666665
2
512

In [11]:
# Text inside quotes is known as a string
# Can use either "" or '', both work the same

# This is to show you that the string can contain any special characters
print("!@#$%jkwewuorweprh6546846515648646546")

# Integers are whole numbers
print(10)

# Long Integers (Python automatically handles big integers)
print(2 ** 32)

# Floats represent decimal numbers
print(2.0)

# Complex Numbers use 'j' to represent the imaginary part
print(1 + 2j)

!@#$%jkwewuorweprh6546846515648646546
10
4294967296
2.0
(1+2j)

## Boolean
*   Booleans represent one of two values: True or False.

In [16]:
a = 5
b = 10 % 3
c = bool(a == b)
print(c)
  # Modulus operation gives the remainder of 10 divided by 3 (which is 1)
  # bool() converts the result of the comparison to True or False
  # This will print False since 5 is not equal to 1
  # ==: is equals to

False

In [31]:
# Equals ==
print(1 == 2)
print(2 == 2)

# Inqual !=
print(1 != 2)
print(2 != 2)

# More than >
print(3 > 2)
print(4 > 3)

# More than and equal to >=
print(4 >= 3)
print(3 >= 2)

# Less than <
print(3 < 2)
print(4 < 5)

# Less than and equal to <=
print(5 <= 3)
print(5 <= 6)

False
True
True
False
True
True
True
True
False
True
False
True

In [34]:
# Using Boolean to find the Data Type of a Variable
# Use type() to find the data type of a value or variable

a = True
print(type(a))
 # A Boolean value can be either True or False.
 # This checks the type of 'a' and will return <class 'bool'>

b = "this is a string"
print(type(b))
# Checking the type of a string
  # This will return <class 'str'>, indicating it's a string.

c = 8
print(type(c))
# Checking the type of an integer
  # This will return <class 'int'>, indicating it's an integer.

<class 'bool'>
<class 'str'>
<class 'int'>

## Converting Data types

In [44]:
# Convert a float to an integer
  # Output: 6
print(int(6.5))

# Convert an integer to a float
  # Output: 3.0
print(float(7))

# Convert an integer to a string and print its type
  # Output: <class 'str'>
a = str(5)
print(type(a))

# Convert a non-zero integer to a boolean
  # Output: True (Any non-zero value is considered True)
print(bool(5))

# Note on variable naming:
# It's best to avoid using function names as variable names to prevent confusion.
  # Use descriptive names for clarity
decimal_value = 3.142
print(decimal_value)

  # Keep the variable name clear and relevant
name = "beatrice"
print(name)

6
7.0
<class 'str'>
True
3.142
beatrice

## Sequence Types: Strings, Lists, and Tuples

### Working with Strings

In [101]:
# Creating strings
first_name = "My name is Beatrice"
last_name = "Lim"
print(first_name + " " + last_name)

# Combining strings
  # Remember to include spaces within the quotes; otherwise, the result will be "JunYo" instead of "Jun Yo".

# Alternative Method for String Formatting
  # The numbers {0} and {1} correspond to the respective order of the variables: Jun = 0, Yo = 1.
print("Full Name: {0} {1}".format(first_name, last_name))

My name is Beatrice Lim
Full Name: My name is Beatrice Lim

### Working with Lists

*   [ ]
*   It is used to store multiple items in a single variable

Just some things to note

(Example)
In the list: list4 = [3, 1, 4, 1, 5]

*   **list4** is the **variable** that stores the list.
*   **3, 1, 4, 1, 5** are the **elements** in the list.
*   **Indexes** represent the **position** of each element, **starting from 0:**
     *   '3' is at index 0
     *   '1' is at index 1
     *   '4' is at index 2
     *   '1' is at index 3
     *   '5' is at index 4

In [68]:
list1 = []# Empty list
print (list1)

mixedlist = [True, "Monday", 134, 3.14] # List with different data types
print(mixedlist)

[]
[True, 'Monday', 134, 3.14]

In [108]:
# Adding elements to a list using the above variables
list1.append(1)
list1.append("yay")
print(list1)

  # Adding an integer to the list
  # Adding a string to the list
  # Output: [1, "AHH"]
mixedlist.append("yay") # Adding a string to the mixed list
print(mixedlist) # Output: [True, 'Slay', 173, 3.14, 'AHH']

"""
Note on the append() method:

The append() method adds the element to the end of the list each time it is executed.
Calling append() multiple times (i.e., running this code again) will continue to add the elements to the existing list, rather than starting over.
(So, the same element will be added twice if you run the code twice, three times if you run it three times, and so on.)
To reset the list, you can reinitialize it (rerun the code from the beginning).
"""

[1, 'yay', 1, 'yay', 1, 'yay', 1, 'yay', 1, 'yay', 1, 'yay', 1, 'yay', 1, 'yay']
[True, 'Monday', 134, 3.14, 'yay', 'yay', 'yay', 'yay', 'yay', 'yay', 'yay', 'yay']

'\nNote on the append() method:\n\nThe append() method adds the element to the end of the list each time it is executed.\nCalling append() multiple times (i.e., running this code again) will continue to add the elements to the existing list, rather than starting over.\n(So, the same element will be added twice if you run the code twice, three times if you run it three times, and so on.)\nTo reset the list, you can reinitialize it (rerun the code from the beginning).\n'

In [52]:
# Inserting elements into a list at a specific position
# Syntax: list_.insert(position, item)
list1.insert(0,50) # Insert the number 50 at the 0th index (1st number is the position, 2nd is the element to add)
print(list1)  # Output will show 50 at the start of the list

[50, 1, 'yay', 1, 'yay', 1, 'yay', 1, 'yay']

In [57]:
# Deleting elements from a list

# Using `del` to delete by index
del list1[0]# Deletes the element at index 0 (1st element in the list)
print(list1)  # Output: List with the 1st element removed

[1, 'yay', 1, 'yay', 1, 'yay', 1, 'yay']

In [66]:
# Alternative Method for Deleting elements from a list

# Using `remove()` to delete by value
list1.remove("yay") # Removes the first occurrence of the value 50 from the list
print(list1) # Output: List without the first 50

[1, 1, 1, 'yay', 1, 'yay']

In [60]:
# List Indexing
list4 = [3, 1, 4, 1, 5]
index_list4 = list4.index(3)# Finds the index position of the element '3' in the list
print(index_list4)  # Output: 0 (since '3' is at the 0th index)

0

In [67]:
# Finding minimum and maximum values in a list
min_list4 = min(list4) # Use the min() function to find the smallest element in list4
max_list4 = max(list4) # Use the max() function to find the largest element in list4
print(min_list4)
print(max_list4)

# With labels
print("Maximum value:", max_list4)  # Output the minimum value
print("Minimum value:", min_list4)  # Output the maximum value

1
5
Maximum value: 5
Minimum value: 1

In [70]:
listNum = [4,2,1,3,6,5,9]
sorted_listNumList = sorted(listNum) # Use the sorted() function to sort the list
print(sorted(listNum)) # Output the sorted list

[1, 2, 3, 4, 5, 6, 9]

In [71]:
listNum2 = [1,2,3,4,5,6,9]
listNum2.reverse() # Reverse listNum2
print(listNum2) # Otput the reversed list

[9, 6, 5, 4, 3, 2, 1]

In [72]:
listNum2 = [1,2,3,4,5,6,9]
listNum2.clear() # Clear all elements from the list
print(listNum2) # Print the cleared list

[]

In [75]:
list5 = ["H", "A", "Y"]
list6 = ["A", 123]
listAdded = list5 + list6
print(listAdded)

 # Add the two lists together
 # Output the added list

['H', 'A', 'Y', 'A', 123]

In [76]:
listNames = ("Beatrice", "H")
listMultiplied = listNames * 2  # Multiply the list by 2
print(listMultiplied) # Output the multiplied list

('Beatrice', 'H', 'Beatrice', 'H')

### Working with Tuples
- Immutable
- It is a ordered sequence of values

In [78]:
dance = ("jazz", "tap")
type(dance) # Check the type of the 'parents' variable

tuple

In [81]:
tuplelist = list(dance)
print(tuplelist) # Output the list
type(tuplelist) # Check the type of 'tuplelist'

['jazz', 'tap']

list

In [85]:
tuplelist.append("Ballet") # Add new line to the list 'tuplelist' (only add one variable at a time, eg. Ballet)
print(tuplelist) # Output the updated list

['jazz', 'tap', 'Ballet']

In [86]:
new_tuple = tuple(tuplelist) # Convert the list 'tuplelist' back to a tuple
print(new_tuple) # Check the value of the new tuple

('jazz', 'tap', 'Ballet')

In [87]:
length_of_tuplelist = len(tuplelist) # Get the length of the list 'tuplelist'
print(length_of_tuplelist) # Output of the length

3

## Working with Sets

{ }
- It is an unordered collection with no duplicate elements
- Computer implementation of the mathematical concept of a finite set
- Mutable

In [91]:
x = {"dog", "cat", "rabbit"}
print(x) # Output of the set

{'cat', 'dog', 'rabbit'}

In [93]:
x.add("wolf") # Add an element to the set
print(x) # Output of the updated set

{'cat', 'wolf', 'dog', 'rabbit'}

In [94]:
x.remove("cat") # Remove an element from the set
print(x) # Output of the updated set

{'wolf', 'dog', 'rabbit'}

In [95]:
z = {(1,2,3), "Hello", 2, 4.3}
print(z) # Output of the set

{2, (1, 2, 3), 'Hello', 4.3}

In [100]:
r = [1,2,3,4,5,7]
print(r) # Output of the original list

r_set = set(r) # Convert the list to a set (to remove duplicates)
print(r_set) # Output of the converted set (take note of the diff in brackets)

type_of_r_set = type(r_set) # Check the data type of r_set
print(type_of_r_set) # Output of the converted set

[1, 2, 3, 4, 5, 7]
{1, 2, 3, 4, 5, 7}
<class 'set'>