## Comments and Print Statements:

In [8]:
# Welcome to DAC!
# Single-line comments use the hash symbol (#)
# Comments are useful for explaining code or for temporary debugging

"""
Multi-line comments are created using triple quotes
They can span multiple lines and are often used for detailed explanations or documentation.
Hi hi hi hi hi
"""

# The print() function is used to display output
print("hello world")

hello world

**Keyboard Shortcuts to Run Code**


*   Mac: Command (âŒ˜) + Enter
*   Windows: Ctrl + Enter

In [9]:
# Now try printing your name!
print('syaqila')

syaqila

## Basic Arithmetic Operations and Data Types

In [16]:
# Arithmetic Operators: + - * / % **

# Addition +
print(8 + 3)

# Subtraction -
print(8 - 3)

# Multiplication *
print(8 * 3)

# Division /
print(8 / 3)


# Modulo % (Gives the quotient of division, e.g., 8 % 3 = 2)
print(8 % 3)

# Exponentiation **
print(8 ** 3)

11
5
24
2.6666666666666665
2
512

In [21]:
# Text inside quotes is known as a string
# Can use either "" or '', both work the same
print('hello')
print("hello")

# This is to show you that the string can contain any special characters
print("!@#$%jkwewuorweprh6546846515648646546")

# Integers are whole numbers
print(10)

# Long Integers (Python automatically handles big integers)
print(2 ** 32)

# Floats represent decimal numbers
print(3.14)

# Complex Numbers use 'j' to represent the imaginary part
print(2 + 3j)

hello
hello
!@#$%jkwewuorweprh6546846515648646546
10
4294967296
3.14
(2+3j)

## Boolean
*   Booleans represent one of two values: True or False.

In [23]:
a = 5
 b = 10 % 3 # Modulus operation gives the remainder of 10 divided by 3 (which is 1)
 c = bool(a == b) # bool() converts the result of the comparison to True or False
  # This will print False since 5 is not equal to 1

IndentationError: unexpected indent (3384446846.py, line 2)

In [30]:
# Equals ==
print(5 == 5)
print(5 == 4)

# Inqual !=
print(5! = 6)

# More than >
print(5>4)

# More than and equal to >=
print(6 >= 4 )
# Less than <
print(6<4)

# Less than and equal to <=

SyntaxError: invalid syntax (2974582121.py, line 6)

In [34]:
# Using Boolean to find the Data Type of a Variable
# Use type() to find the data type of a value or variable

a = True # A Boolean value can be either True or False.
print(type(a))# This checks the type of 'a' and will return <class 'bool'>

# Checking the type of a string
print(type('i love DAC')) # This will return <class 'str'>, indicating it's a string.

# Checking the type of an integer
print(type(4)) # This will return <class 'int'>, indicating it's an integer.

<class 'bool'>
<class 'str'>
<class 'int'>

## Converting Data types

In [41]:
# Convert a float to an integer
print(int(6.55555))# Output: 6

# Convert an integer to a float
print(float(3))  # Output: 3.0

# Convert an integer to a string and print its type
print(type(str(6)))  # Output: <class 'str'>

# Convert a non-zero integer to a boolean
print(bool(5))  # Output: True (Any non-zero value is considered True)

# Note on variable naming:
# It's best to avoid using function names as variable names to prevent confusion.
decimal_value = 3.142 # Use descriptive names for clarity
print(decimal_value)

number = 5  # Keep the variable name clear and relevant
print(number)

6
3.0
<class 'str'>
True
3.142
5

## Sequence Types: Strings, Lists, and Tuples

### Working with Strings

In [46]:
# Creating strings
name = 'syaqila'
print(name)

# Combining strings
last_name = 'banu'
print('Full Name:' + name + " " + last_name)  # Remember to include spaces within the quotes; otherwise, the result will be "JunYo" instead of "Jun Yo".

# Alternative Method for String Formatting
print('Full Name:{0} {1}'.format(name, last_name)) # The numbers {0} and {1} correspond to the respective order of the variables: syaqila = 0, banu = 1.

syaqila
Full Name:syaqila banu
Full Name:syaqila banu

### Working with Lists

*   [ ]
*   It is used to store multiple items in a single variable

Just some things to note

(Example)
In the list: list4 = [3, 1, 4, 1, 5]

*   **list4** is the **variable** that stores the list.
*   **3, 1, 4, 1, 5** are the **elements** in the list.
*   **Indexes** represent the **position** of each element, **starting from 0:**
     *   '3' is at index 0
     *   '1' is at index 1
     *   '4' is at index 2
     *   '1' is at index 3
     *   '5' is at index 4

In [6]:
list []# Empty list
print (list)

mixedlist = [True, "Monday",134, 3.14]





 # List with different data types

SyntaxError: invalid syntax (3140235249.py, line 1)

In [13]:
# Adding elements to a list using the above variables
list.append(1)

  # Adding an integer to the list
  # Adding a string to the list
  # Output: [1, "AHH"]

  # Adding a string to the mixed list
  # Output: [True, 'Slay', 173, 3.14, 'AHH']

"""
Note on the append() method:

The append() method adds the element to the end of the list each time it is executed.
Calling append() multiple times (i.e., running this code again) will continue to add the elements to the existing list, rather than starting over.
(So, the same element will be added twice if you run the code twice, three times if you run it three times, and so on.)
To reset the list, you can reinitialize it (rerun the code from the beginning).
"""

'\nNote on the append() method:\n\nThe append() method adds the element to the end of the list each time it is executed.\nCalling append() multiple times (i.e., running this code again) will continue to add the elements to the existing list, rather than starting over.\n(So, the same element will be added twice if you run the code twice, three times if you run it three times, and so on.)\nTo reset the list, you can reinitialize it (rerun the code from the beginning).\n'

In [8]:
# Inserting elements into a list at a specific position
# Syntax: list_.insert(position, item)
list.insert(0,50) # Insert the number 50 at the 0th index (1st number is the position, 2nd is the element to add)
  # Output will show 50 at the start of the list

TypeError: descriptor 'insert' for 'list' objects doesn't apply to a 'int' object

In [9]:
# Deleting elements from a list

# Using `del` to delete by index
del list[0] # Deletes the element at index 0 (1st element in the list)
  # Output: List with the 1st element removed

TypeError: 'type' object does not support item deletion

In [17]:
# Alternative Method for Deleting elements from a list

# Using `remove()` to delete by value
  # Removes the first occurrence of the value 50 from the list
  # Output: List without the first 50

In [10]:
# List Indexing
list4 = [3, 1, 4, 1, 5]
index_list4 = list4.index(3)  # Finds the index position of the element '3' in the list
print(index_list4)  # Output: 0 (since '3' is at the 0th index)

0

In [12]:
# Finding minimum and maximum values in a list
min_list4 = min(list4)  # Use the min() function to find the smallest element in list4
max_list4 = max(list4)  # Use the max() function to find the largest element in list4
print(min_list4)
print(max_list4)



# With labels
print("Maximum value:", min_list4)  # Output the minimum value
print("Minimum value:", min_list4)  # Output the maximum value

1
5
Maximum value: 1
Minimum value: 1

In [13]:
listNum = [4,2,1,3,6,5,9]
sorted_listNumList = sorted(listNum)
print(sorted_listNumList)

 # Use the sorted() function to sort the list
 # Output the sorted list

[1, 2, 3, 4, 5, 6, 9]

In [14]:
listNum2 =[1,2,3,4,5,6,9]
listNum2.reverse()
print(listNum2)
 # Reverse listNum2
 # Otput the reversed list

[9, 6, 5, 4, 3, 2, 1]

In [15]:
listNum2 =[1,2,3,4,5,6,9]
listNum2.clear()
print(listNum2)
 # Clear all elements from the list
 # Print the cleared list

[]

In [16]:
list5 =["m","a","y"]
list6 = ["a",123]
listAdded = list5 + list6
print(listAdded)

 # Add the two lists together
 # Output the added list

['m', 'a', 'y', 'a', 123]

In [17]:
listNames = ["syaqila","b"]
listMultiplied = listNames * 2
print(listMultiplied)
 # Multiply the list by 2
 # Output the multiplied list

['syaqila', 'b', 'syaqila', 'b']

### Working with Tuples
- Immutable
- It is a ordered sequence of values

In [18]:
dance = ("jazz","tap")
type(dance)
 # Check the type of the 'parents' variable

tuple

In [19]:
tuplelist = list(dance)
print(tuplelist) # Output the list
type(tuplelist) # Check the type of 'tuplelist'

['jazz', 'tap']

list

In [20]:
tuplelist.append("Ballet")
print(tuplelist) # Add new line to the list 'tuplelist'
 # Output the updated list

['jazz', 'tap', 'Ballet']

In [21]:
new_tuple = (tuplelist)
print(new_tuple) # Convert the list 'tuplelist' back to a tuple
 # Check the value of the new tuple

['jazz', 'tap', 'Ballet']

In [22]:
length_of_tuplelist = len(tuplelist)
print(length_of_tuplelist) # Get the length of the list 'tuplelist'
 # Output of the length

3

## Working with Sets

{ }
- It is an unordered collection with no duplicate elements
- Computer implementation of the mathematical concept of a finite set
- Mutable

In [23]:
x = {"dog", "cat", "wolf"}
print(x)
 # Output of the set

{'wolf', 'dog', 'cat'}

In [24]:
x.add("fish")
print(x) # Add an element to the set
 # Output of the updated set

{'wolf', 'fish', 'dog', 'cat'}

In [25]:
x.remove("cat")
print(x) # Remove an element from the set
 # Output of the updated set

{'wolf', 'fish', 'dog'}

In [26]:
z = {(1,2,3), "Hello",2,4.3}
print(z)
 # Output of the set

{2, (1, 2, 3), 4.3, 'Hello'}

In [29]:
r = [1,2,3,4,5,7,4]
print(r)
 # Output of the original list
r_set = set(r)
print(r_set)

 # Convert the list to a set (to remove duplicates)
 # Output of the converted set
type_of_r = type(r_set)
print(type_of_r)
 # Check the data type of r_set
 # Output of the converted set

[1, 2, 3, 4, 5, 7, 4]
{1, 2, 3, 4, 5, 7}
<class 'set'>