# DACademy Session 1: Basic GitHub + Intro to Python

## Comments and Print Statements:

In [4]:
# Welcome to DAC!
# Single-line comments use the #
# Comments are useful for explaining code or for temporary debugging

"""
Multi-line comments are created using triple quotes
They can span multiple lines and are often used for detailed explanations or documentation.
Hi hi hi hi hi

"""

# The print() function is used to display output
print ("Hello World")

Hello World

**Keyboard Shortcuts to Run Code**


*   Mac: Command (âŒ˜) + Enter
*   Windows: Ctrl + Enter

In [5]:
# Now try printing your name!

print("im belinda")

im belinda

## Basic Arithmetic Operations and Data Types

In [11]:
# Arithmetic Operators: + - * / % **

# Addition +
print (2+2)
# Subtraction -
print(4-1)
# Multiplication *
print(4*5)
# Division /
print(5/1)
# Modulo % (Gives the remainder of division, e.g., 8 % 3 = 2)
print(5%3)
# Exponentiation **
print(2**2)

4
3
20
5.0
2
4

In [16]:
# Text inside quotes is known as a string
# Can use either "" or '', both work the same
print('hehe haha')
# This is to show you that the string can contain any special characters
print("!@#$%jkwewuorweprh6546846515648646546")

# Integers are whole numbers
print (10)
# Long Integers (Python automatically handles big integers)
print(2**32)
# Floats represent decimal numbers
print(3.14)
# Complex Numbers use 'j' to represent the imaginary part
print(2+2j)

hehe haha
!@#$%jkwewuorweprh6546846515648646546
10
4294967296
3.14
(2+2j)

## Boolean
*   Booleans represent one of two values: True or False.

In [17]:
a = 5
b = 10%3 
c = bool(a==b)
print (c)

  # Modulus operation gives the remainder of 10 divided by 3 (which is 1)
  # bool() converts the result of the comparison to True or False
  # This will print False since 5 is not equal to 1

False

In [25]:
# Equals == 
print(5 == 5)
print (5==4)
# Inqual !=
print (5!=4) 
# More than >
print(6>4)
print(4>7)
# More than and equal to >=
print(3>=1)
# Less than <
print (3<1) 
# Less than and equal to <=
print(4<=7 )

True
False
True
True
False
True
False
True

In [34]:
# Using Boolean to find the Data Type of a Variable
# Use type() to find the data type of a value or variable
a = True
print(type (a))

 # A Boolean value can be either True or False.
 # This checks the type of 'a' and will return <class 'bool'



# Checking the type of a string
  # This will return <class 'str'>, indicating it's a string.
print (type("i love money"))


# Checking the type of an integer
  # This will return <class 'int'>, indicating it's an integer.
print (type(4))

<class 'bool'>
<class 'str'>
<class 'int'>

## Converting Data types

In [41]:
# Convert a float to an integer
  # Output: 6
print (int(6.39583))

# Convert an integer to a float
  # Output: 3.0
print(float(3))

# Convert an integer to a string and print its type
  # Output: <class 'str'>
print(type(str(6)))

# Convert a non-zero integer to a boolean
  # Output: True (Any non-zero value is considered True)
print(bool(5))

# Note on variable naming:
# It's best to avoid using function names as variable names to prevent confusion.
  # Use descriptive names for clarity
decimal_Value = 3.4
print(decimal_Value)

number = 55
print(number)

  # Keep the variable name clear and relevant

6
3.0
<class 'str'>
True
3.4
55

## Sequence Types: Strings, Lists, and Tuples

### Working with Strings

In [49]:
# Creating strings
name = 'Belinda'
print(name)

# Combining strings
  # Remember to include spaces within the quotes; otherwise, the result will be "JunYo" instead of "Jun Yo".

last_name = 'Tsai'
print("Full name:" " " + name + " " + last_name)

# Alternative Method for String Formatting
  # The numbers {0} and {1} correspond to the respective order of the variables: Jun = 0, Yo = 1.

print("Full name: {0} {1}". format (name, last_name))

Belinda
Full name: Belinda Tsai
Full name: Belinda Tsai

### Working with Lists

*   [ ]
*   It is used to store multiple items in a single variable

Just some things to note

(Example)
In the list: list4 = [3, 1, 4, 1, 5]

*   **list4** is the **variable** that stores the list.
*   **3, 1, 4, 1, 5** are the **elements** in the list.
*   **Indexes** represent the **position** of each element, **starting from 0:**
     *   '3' is at index 0
     *   '1' is at index 1
     *   '4' is at index 2
     *   '1' is at index 3
     *   '5' is at index 4

In [3]:
 # Empty list
list1 = []
print (list1)

mixedlist = [True, 'HELLO', 137, 3.5,]
print (mixedlist)


 # List with different data types

[]
[True, 'HELLO', 137, 3.5]

In [7]:
# Adding elements to a list using the above variables
list1.append(1)
list1.append('yay')
print (list1)

  # Adding an integer to the list
  # Adding a string to the list
  # Output: [1, "AHH"]

mixedlist.append ('yay')
print(mixedlist)

  # Adding a string to the mixed list
  # Output: [True, 'Slay', 173, 3.14, 'AHH']

"""
Note on the append() method:

The append() method adds the element to the end of the list each time it is executed.
Calling append() multiple times (i.e., running this code again) will continue to add the elements to the existing list, rather than starting over.
(So, the same element will be added twice if you run the code twice, three times if you run it three times, and so on.)
To reset the list, you can reinitialize it (rerun the code from the beginning).
"""

[1, 1, 1, 'yay', 1, 'yay']
[True, 'HELLO', 137, 3.5, 'yay']

'\nNote on the append() method:\n\nThe append() method adds the element to the end of the list each time it is executed.\nCalling append() multiple times (i.e., running this code again) will continue to add the elements to the existing list, rather than starting over.\n(So, the same element will be added twice if you run the code twice, three times if you run it three times, and so on.)\nTo reset the list, you can reinitialize it (rerun the code from the beginning).\n'

In [9]:
# Inserting elements into a list at a specific position
# Syntax: list_.insert(position, item)

list1.insert(0, 50)
print (list1)

  # Insert the number 50 at the 0th index (1st number is the position, 2nd is the element to add)
  # Output will show 50 at the start of the list

[50, 1, 1, 1, 'yay', 1, 'yay']

In [13]:
# Deleting elements from a list

del list1[0]
print (list1)

# Using `del` to delete by index
  # Deletes the element at index 0 (1st element in the list)
  # Output: List with the 1st element removed

[1, 'yay', 1, 'yay']

In [14]:
# Alternative Method for Deleting elements from a list

list1.remove('yay')
print (list1)

# Using `remove()` to delete by value
  # Removes the first occurrence of the value 50 from the list
  # Output: List without the first 50

[1, 1, 'yay']

In [17]:
# List Indexing
list4 = [3, 1, 4, 1, 5]
index_list4 = list4.index (3)
print (index_list4)

  # Finds the index position of the element '3' in the list
  # Output: 0 (since '3' is at the 0th index)

0

In [24]:
# Finding minimum and maximum values in a list
  # Use the min() function to find the smallest element in list4
min_list4 = min(list4)
max_list4 = max(list4)

print(min_list4)
print(max_list4)
  # Use the max() function to find the largest element in list4



# With labels
  # Output the minimum value
  # Output the maximum value

print ('maximum valueis ', max_list4)
print ('minimum value is ', min_list4)

1
5
maximum valueis  5
minimum value is  1

In [27]:
listNum = [4,2,1,3,6,5,9]
Sorted_listnumlist = sorted(listNum)
print (Sorted_listnumlist)

[1, 2, 3, 4, 5, 6, 9]



 # Use the sorted() function to sort the list
 # Output the sorted list

In [28]:

 # Reverse listNum2

listNum2 = [1,2,3,4,5,6]
listNum2.reverse()
print (listNum2)
 # Otput the reversed list

[6, 5, 4, 3, 2, 1]

In [30]:

 # Clear all elements from the list
 # Print the cleared list

listNum2.clear()
print (listNum2)

[]

In [31]:


 # Add the two lists together
 # Output the added list

list5 = ['M','A','Y']
list6 = ['a',234]
listadded = list5+list6
print (listadded)

['M', 'A', 'Y', 'a', 234]

In [34]:

 # Multiply the list by 2
 # Output the multiplied list

listNames = ["Belinda"]
listMultiply = listNames * 2 
print (listMultiply)

['Belinda', 'Belinda']

### Working with Tuples
- Immutable
- It is a ordered sequence of values

In [36]:

 # Check the type of the 'parents' variable

dance = ('jazz', 'tap')
type (dance)

tuple

In [40]:

 # Output the list
 # Check the type of 'tuplelist'

tuplelist = list(dance)
print (tuplelist)
type(tuplelist)

['jazz', 'tap']

list

In [42]:
 # Add new line to the list 'tuplelist'
 # Output the updated list

tuplelist.append('Ballet')
print (tuplelist)

['jazz', 'tap', 'Ballet', 'Ballet']

In [46]:
 # Convert the list 'tuplelist' back to a tuple
 # Check the value of the new tuple

new_tuple =tuple(tuplelist)
type (tuplelist)
print (new_tuple)

('jazz', 'tap', 'Ballet', 'Ballet')

In [47]:
 # Get the length of the list 'tuplelist'
 # Output of the length

length_of_tuplelist = len(tuplelist)
print (length_of_tuplelist)

4

## Working with Sets

{ }
- It is an unordered collection with no duplicate elements
- Computer implementation of the mathematical concept of a finite set
- Mutable

In [49]:

 # Output of the set

x = {'dog','cat','wolf'}
print (x)

{'cat', 'wolf', 'dog'}

In [54]:
 # Add an element to the set
 # Output of the updated set

x.add('fish')
print(x)

{'fish', 'cat', 'wolf', 'dog'}

In [55]:
 # Remove an element from the set
 # Output of the updated set

x.remove('fish')
print(x)

{'cat', 'wolf', 'dog'}

In [62]:

 # Output of the original list
r = [1,2,3,4,5,6]
print(r)

 # Convert the list to a set (to remove duplicates)
 # Output of the converted set
r_set = set(r)
print(r_set)

 # Check the data type of r_set
 # Output of the converted set
type_of_r = type(r_set)
print(type_of_r)

[1, 2, 3, 4, 5, 6]
{1, 2, 3, 4, 5, 6}
<class 'set'>