# DACademy Session 1: Basic GitHub + Intro to Python

## Comments and Print Statements:

In [11]:
# Welcome to DAC!
# Single-line comments use the hash symbol
# Comments are useful for explaining code or for temporary debugging

"""
Multi-line comments are created using triple quotes
They can span multiple lines and are often used for detailed explanations or documentation.
Hi hi hi hi hi
"""

# The print() function is used to display output
print("Hello World")

Hello World

**Keyboard Shortcuts to Run Code**


*   Mac: Command (âŒ˜) + Enter
*   Windows: Ctrl + Enter

In [10]:
# Now try printing your name!
print("jel")

jel

## Basic Arithmetic Operations and Data Types

In [21]:
# Arithmetic Operators: + - * / % **

# Addition +
print(8+3)
# Subtraction -
print(8-3)
# Multiplication *
print(8 *5)
# Division /
print (10/2)
# Modulo % (Gives the remainder of division, e.g., 8 % 3 = 2)
#give the remainder of division 10/3= 3 sisa 1, the remainding = 1
print ( 10%3)
print(10%2)
# Exponentiation **
print(2**4)

11
5
40
5.0
1
0
16

In [32]:
# Text inside quotes is known as a string
# Can use either "" or '', both work the same
print('Hello World')
print("Hello World")
# This is to show you that the string can contain any special characters
print("!@#$%jkwewuorweprh6546846515648646546")

# Integers are whole numbers
print(10)
# Long Integers (Python automatically handles big integers)
print (2**32)
# Floats represent decimal numbers
print(3.14)
# Complex Numbers use 'j' to represent the imaginary part
print(2+3j)

Hello World
Hello World
!@#$%jkwewuorweprh6546846515648646546
10
4294967296
3.14
(2+3j)

## Boolean
*   Booleans represent one of two values: True or False.

In [40]:
a=5
b=10%3
c= bool (a==b)
print(c)
print(bool(a==b))
  # Modulus operation gives the remainder of 10 divided by 3 (which is 1)
  # bool() converts the result of the comparison to True or False
  # This will print False since 5 is not equal to 1

False
False

In [53]:
# Equals ==
print(5==5)
print(5==4)
# Inqual !=
print(5!= 4)
# More than >
print(5>4)
# More than and equal to >=
print(5>=5)
# Less than <
print(5<4)
# Less than and equal to <=
print(5<= 5)

True
False
True
True
True
False
True

In [67]:
# Using Boolean to find the Data Type of a Variable
# Use type() to find the data type of a value or variable

 # A Boolean value can be either True or False.
 # This checks the type of 'a' and will return <class 'bool'>
a= True
print(type(a))
# Checking the type of a string
  # This will return <class 'str'>, indicating it's a string.
a= "hehe"
print(type(a))
# Checking the type of an integer
  # This will return <class 'int'>, indicating it's an integer.
a= 50
print(type(a))

<class 'bool'>
<class 'str'>
<class 'int'>

## Converting Data types

In [95]:
# Convert a float to an integer
  # Output: 6
print(int(6.999999))
# Convert an integer to a float
  # Output: 3.0
print(float(100))
# Convert an integer to a string and print its type
  # Output: <class 'str'>
print(str(100))
print(type(str(100)))
# Convert a non-zero integer to a boolean
  # Output: True (Any non-zero value is considered True)
print(bool(100))
print(bool(0))
# Note on variable naming:
# It's best to avoid using function names as variable names to prevent confusion.
  # Use descriptive names for clarity
decimal_value= 3.568
print(decimal_value)
  # Keep the variable name clear and relevant
num = 5
print(num)

6
100.0
100
<class 'str'>
True
False
3.568
5

## Sequence Types: Strings, Lists, and Tuples

### Working with Strings

In [109]:
# Creating strings
name = "Angel"
print(name)
lastname ="F"
print(lastname)
# Combining strings
  # Remember to include spaces within the quotes; otherwise, the result will be "JunYo" instead of "Jun Yo".
print(name+lastname)
print(name + " " +lastname)
print("Full Name :" + name +" " +lastname)
# Alternative Method for String Formatting
  # The numbers {0} and {1} correspond to the respective order of the variables: Jun = 0, Yo = 1.

print ("Full Name : {0} {1}".format(name, lastname) )

Angel
F
AngelF
Angel F
Full Name :Angel F
Full Name : Angel F

0

### Working with Lists

*   [ ]
*   It is used to store multiple items in a single variable

Just some things to note

(Example)
In the list: list4 = [3, 1, 4, 1, 5]

*   **list4** is the **variable** that stores the list.
*   **3, 1, 4, 1, 5** are the **elements** in the list.
*   **Indexes** represent the **position** of each element, **starting from 0:**
     *   '3' is at index 0
     *   '1' is at index 1
     *   '4' is at index 2
     *   '1' is at index 3
     *   '5' is at index 4

In [3]:
 # Empty list
list1= []
print(list1)
mixedlist= [True, "Monday",19,3.14]
print(mixedlist)
 # List with different data types

[]
[True, 'Monday', 19, 3.14]

In [9]:
# Adding elements to a list using the above variables
list1.append("yay")
list1.append(1)
print(list1)
  # Adding an integer to the list
  # Adding a string to the list
  # Output: [1, "AHH"]

  # Adding a string to the mixed list
  # Output: [True, 'Slay', 173, 3.14, 'AHH']

"""
Note on the append() method:

The append() method adds the element to the end of the list each time it is executed.
Calling append() multiple times (i.e., running this code again) will continue to add the elements to the existing list, rather than starting over.
(So, the same element will be added twice if you run the code twice, three times if you run it three times, and so on.)
To reset the list, you can reinitialize it (rerun the code from the beginning).
"""

['yay', 'yay', 'yay', 'yay', 'yay', 'yay', 1]

'\nNote on the append() method:\n\nThe append() method adds the element to the end of the list each time it is executed.\nCalling append() multiple times (i.e., running this code again) will continue to add the elements to the existing list, rather than starting over.\n(So, the same element will be added twice if you run the code twice, three times if you run it three times, and so on.)\nTo reset the list, you can reinitialize it (rerun the code from the beginning).\n'

In [14]:
# Inserting elements into a list at a specific position
# Syntax: list_.insert(position, item)
list1.insert(0,50)
print(list1)
  # Insert the number 50 at the 0th index (1st number is the position, 2nd is the element to add)
  # Output will show 50 at the start of the list

[50, 50, 50, 'yay', 'yay', 'yay', 'yay', 'yay', 'yay', 1]

In [17]:
# Deleting elements from a list
del list1[0]
print(list1)
# Using `del` to delete by index
  # Deletes the element at index 0 (1st element in the list)
  # Output: List with the 1st element removed

['yay', 'yay', 'yay', 'yay', 'yay', 'yay', 1]

In [20]:
# Alternative Method for Deleting elements from a list
list1.remove("yay")
print(list1)
# Using `remove()` to delete by value
  # Removes the first occurrence of the value 50 from the list
  # Output: List without the first 50

['yay', 'yay', 'yay', 'yay', 1]

In [26]:
# List Indexing
list4 = [3,1,4,1,5]
  # Finds the index position of the element '3' in the list
index_list4= list4.index(3)
print(index_list4)
  # Output: 0 (since '3' is at the 0th index)

0

In [39]:
# Finding minimum and maximum values in a list
min_list4= min(list4)
max_list4= max(list4)
print(min_list4)
print(max_list4)
  # Use the min() function to find the smallest element in list4
  # Use the max() function to find the largest element in list4



# With labels

  # Output the minimum value
f"Minimum Value : {min(list4)}"
print("Maximum Value :", max_list4)

  # Output the maximum value
f"Maximum Value = {max(list4)}"
print("Minimum Value :",min_list4)

1
5
Maximum Value : 5
Minimum Value : 1

In [43]:
listnum= [4,2,1,4,6,5,9]
sorted_listnum = sorted(listnum)
print(sorted_listnum)
 # Use the sorted() function to sort the list
 # Output the sorted list

[1, 2, 4, 4, 5, 6, 9]

In [46]:
listnum2= [1,2,3,4,5,6,9]
listnum2.reverse() 
print(listnum2)
 # Reverse listNum2
 # Otput the reversed list

[9, 6, 5, 4, 3, 2, 1]

In [49]:
listnum2= [1,2,3,4,5,6,9]
listnum2.clear()
print(listnum2)
 # Clear all elements from the list
 # Print the cleared list

[]

In [59]:
list5= ["M","A","Y"]
list6 =["A",123]
listadded= list5+list6
print(listadded)
 # Add the two lists together
 # Output the added list

['M', 'A', 'Y', 'A', 123]

In [63]:

ListNames = ["Angel","F"]
ListMultiplied= ListNames *2
print(ListMultiplied)
 # Multiply the list by 2
 # Output the multiplied list

['Angel', 'F', 'Angel', 'F']

### Working with Tuples
- Immutable
- It is a ordered sequence of values

In [70]:
dance = ("jazz","tap")
type(dance)
 # Check the type of the 'parents' variable

tuple

In [78]:
TupleList = list(dance)
print(TupleList)
 # Output the list
 # Check the type of 'tuplelist'

type(TupleList)

['jazz', 'tap']

list

In [89]:
 # Add new line to the list 'tuplelist'
 # Output the updated list


TupleList.append("Ballet")
print(TupleList)

['jazz', 'tap', 'Ballet', 'Ballet', 'Ballet', 'Ballet']
['jazz', 'tap', 'Ballet', 'Ballet', 'Ballet']

In [91]:
 # Convert the list 'tuplelist' back to a tuple
 # Check the value of the new tuple

new_tuple= tuple(TupleList)
print(new_tuple)

('jazz', 'tap', 'Ballet', 'Ballet', 'Ballet')

In [93]:
 # Get the length of the list 'tuplelist'
 # Output of the length

length_of_TupleList= len(TupleList)
print(length_of_TupleList)

5

## Working with Sets

{ }
- It is an unordered collection with no duplicate elements
- Computer implementation of the mathematical concept of a finite set
- Mutable

In [101]:
x= {"dog","cat","wolf"}
print(x)
 # Output of the set

{'cat', 'wolf', 'dog'}

In [109]:
 # Add an element to the set
 # Output of the updated set

x.add("Panda")
print(x)

{'cat', 'dog', 'wolf', 'Panda'}

In [115]:
 # Remove an element from the set
 # Output of the updated set

x.remove("cat")
print(x)

{'dog', 'wolf', 'Panda'}

In [120]:
z= {(1,2,3),"Hello",2, 4.3}
 # Output of the set

In [128]:
r= [1,2,3,4,5,7,4]
print(r)
 # Output of the original list
r_set= set(r)
print(r_set)
 # Convert the list to a set (to remove duplicates)
 # Output of the converted set

type_of_r= type(r_set)
print(type_of_r)

 # Check the data type of r_set
 # Output of the converted set

[1, 2, 3, 4, 5, 7, 4]
{1, 2, 3, 4, 5, 7}
<class 'set'>