# DACademy Session 1: Basic GitHub + Intro to Python

## Comments and Print Statements:

In [9]:
# Welcome to DAC!
# Single-line comments use the ______
# Comments are useful for explaining code or for temporary debugging

"""
Multi-line comments are created using ______
They can span multiple lines and are often used for detailed explanations or documentation.
Hi hi hi hi hi
"""

# The print() function is used to display output
print("Hello this is mmy nth time using python")
a = "hihi"
print(a)
b = 12
c = 2445

Hello this is mmy nth time using python
hihi

**Keyboard Shortcuts to Run Code**


*   Mac: Command (âŒ˜) + Enter
*   Windows: Ctrl + Enter

In [10]:
# Now try printing your name!
print("zeejay")

zeejay

## Basic Arithmetic Operations and Data Types

In [16]:
# Arithmetic Operators: + - * / % **

# Addition +
print(8+3)
# Subtraction -
print(2321-32)
# Multiplication *
print(21*32)
# Division /
print(8656/6)
# Modulo % (Gives the remainder of division, e.g., 8 % 3 = 2)
print(8 % 3)
# Exponentiation **
print(8**4)

11
2289
672
1442.6666666666667
2
4096

In [17]:
# Text inside quotes is known as a string
# Can use either "" or '', both work the same

# This is to show you that the string can contain any special characters
print("!@#$%jkwewuorweprh6546846515648646546")

# Integers are whole numbers
print(10)
# Long Integers (Python automatically handles big integers)
print(2**35)
# Floats represent decimal numbers
print(3.14)
# Complex Numbers use 'j' to represent the imaginary part
print(2+3j)

!@#$%jkwewuorweprh6546846515648646546
10
34359738368
3.14
(2+3j)

## Boolean
*   Booleans represent one of two values: True or False.

In [18]:

  # Modulus operation gives the remainder of 10 divided by 3 (which is 1)
  # bool() converts the result of the comparison to True or False
  # This will print False since 5 is not equal to 1
a = 1
b = 5
c = bool(a==b)
print(c)

False

In [20]:
# Equals ==
print(5 == 5)
print(5 == 4)
# Inqual !=
print(5!=4)
# More than >
print(5 > 4)
# More than and equal to >=
print(5>=4)
# Less than <
print(5<4)
# Less than and equal to <=
print(5<=4)

True
False
True
True
True
False
False

In [25]:
# Using Boolean to find the Data Type of a Variable
# Use type() to find the data type of a value or variable
a = True
print(type(a))
 # A Boolean value can be either True or False.
 # This checks the type of 'a' and will return <class 'bool'>
print(type("I just wann"))
# Checking the type of a string
  # This will return <class 'str'>, indicating it's a string.
print(type(1))
# Checking the type of an integer
  # This will return <class 'int'>, indicating it's an integer.

<class 'bool'>
<class 'str'>
<class 'int'>

## Converting Data types

In [40]:
# Convert a float to an integer
(int(6.55342)) # Output: 6

# Convert an integer to a float
(float(3))
 # Output: 3.0

# Convert an integer to a string and print its type
  # Output: <class 'str'>
(type(str(6)))
# Convert a non-zero integer to a boolean
(bool(5))

  # Output: True (Any non-zero value is considered True)

# Note on variable naming:
# It's best to avoid using function names as variable names to prevent confusion.
  # Use descriptive names for clarity
decimal_value = 3.124
(decimal_value)


  # Keep the variable name clear and relevant

3.124

## Sequence Types: Strings, Lists, and Tuples

### Working with Strings

In [61]:
# Creating strings
first_name = "teo"
# print(type(name))
print(first_name)

# last_name = "jay"
# Combining strings
  # Remember to include spaces within the quotes; otherwise, the result will be "JunYo" instead of "Jun Yo".
# print("Full Name:" + name + " " + last_name)
# Alternative Method for String Formatting
  # The numbers {0} and {1} correspond to the respective order of the variables: Jun = 0, Yo = 1.
# print("Full Name:{0}{1}".format(name,last_name))

TypeError: 'float' object is not callable

### Working with Lists

*   [ ]
*   It is used to store multiple items in a single variable

Just some things to note

(Example)
In the list: list4 = [3, 1, 4, 1, 5]

*   **list4** is the **variable** that stores the list.
*   **3, 1, 4, 1, 5** are the **elements** in the list.
*   **Indexes** represent the **position** of each element, **starting from 0:**
     *   '3' is at index 0
     *   '1' is at index 1
     *   '4' is at index 2
     *   '1' is at index 3
     *   '5' is at index 4

In [14]:
 # Empty list




 # List with different data types

In [13]:
# Adding elements to a list using the above variables

  # Adding an integer to the list
  # Adding a string to the list
  # Output: [1, "AHH"]

  # Adding a string to the mixed list
  # Output: [True, 'Slay', 173, 3.14, 'AHH']

"""
Note on the append() method:

The append() method adds the element to the end of the list each time it is executed.
Calling append() multiple times (i.e., running this code again) will continue to add the elements to the existing list, rather than starting over.
(So, the same element will be added twice if you run the code twice, three times if you run it three times, and so on.)
To reset the list, you can reinitialize it (rerun the code from the beginning).
"""

'\nNote on the append() method:\n\nThe append() method adds the element to the end of the list each time it is executed.\nCalling append() multiple times (i.e., running this code again) will continue to add the elements to the existing list, rather than starting over.\n(So, the same element will be added twice if you run the code twice, three times if you run it three times, and so on.)\nTo reset the list, you can reinitialize it (rerun the code from the beginning).\n'

In [15]:
# Inserting elements into a list at a specific position
# Syntax: list_.insert(position, item)

  # Insert the number 50 at the 0th index (1st number is the position, 2nd is the element to add)
  # Output will show 50 at the start of the list

In [16]:
# Deleting elements from a list

# Using `del` to delete by index
  # Deletes the element at index 0 (1st element in the list)
  # Output: List with the 1st element removed

In [17]:
# Alternative Method for Deleting elements from a list

# Using `remove()` to delete by value
  # Removes the first occurrence of the value 50 from the list
  # Output: List without the first 50

In [18]:
# List Indexing

  # Finds the index position of the element '3' in the list
  # Output: 0 (since '3' is at the 0th index)

In [19]:
# Finding minimum and maximum values in a list
  # Use the min() function to find the smallest element in list4
  # Use the max() function to find the largest element in list4



# With labels
  # Output the minimum value
  # Output the maximum value

In [22]:


 # Use the sorted() function to sort the list
 # Output the sorted list

In [23]:

 # Reverse listNum2
 # Otput the reversed list

In [24]:

 # Clear all elements from the list
 # Print the cleared list

In [20]:


 # Add the two lists together
 # Output the added list

In [21]:

 # Multiply the list by 2
 # Output the multiplied list

### Working with Tuples
- Immutable
- It is a ordered sequence of values

In [25]:

 # Check the type of the 'parents' variable

In [26]:

 # Output the list
 # Check the type of 'tuplelist'

In [27]:
 # Add new line to the list 'tuplelist'
 # Output the updated list

In [29]:
 # Convert the list 'tuplelist' back to a tuple
 # Check the value of the new tuple

In [28]:
 # Get the length of the list 'tuplelist'
 # Output of the length

## Working with Sets

{ }
- It is an unordered collection with no duplicate elements
- Computer implementation of the mathematical concept of a finite set
- Mutable

In [30]:

 # Output of the set

In [31]:
 # Add an element to the set
 # Output of the updated set

In [32]:
 # Remove an element from the set
 # Output of the updated set

In [33]:

 # Output of the set

In [34]:

 # Output of the original list

 # Convert the list to a set (to remove duplicates)
 # Output of the converted set

 # Check the data type of r_set
 # Output of the converted set

## Working with Dictionaries

In [35]:
# Creating a dictionary to store information about a person






  # Outputs the entire dictionary

# Accessing a specific value using the key


# Using the get() method to retrieve a value safely