# DACademy Session 1: Basic GitHub + Intro to Python

## Comments and Print Statements:

In [1]:
# Welcome to DAC!
# Single-line comments use the hash symbol (#)
# Comments are useful for explaining code or for temporary debugging

"""
Multi-line comments are created using "triple quotes" 
They can span multiple lines and are often used for detailed explanations or documentation.
Hi hi hi hi hi
"""

# The print() function is used to display output
print("Hello World")

Hello World

**Keyboard Shortcuts to Run Code**


*   Mac: Command (âŒ˜) + Enter
*   Windows: Ctrl + Enter

In [2]:
# Now try printing your name!
print("Yuhng")

Yuhng

## Basic Arithmetic Operations and Data Types

In [5]:
# Arithmetic Operators: + - * / % **

# Addition +
print(8+3)
# Subtraction -
print(8-3)
# Multiplication *
print(8*3)
# Division /
print(8/3)
# Modulo % (Gives the remainder of division, e.g., 8 % 3 = 2)
print(8%3)
# Exponentiation **
print(8**3)

11
5
24
2.6666666666666665
2
512

In [13]:
# Text inside quotes is known as a string
# Can use either "" or '', both work the same
print("meow meow")
print('meow meow')

# This is to show you that the string can contain any special characters
print("!@#$%jkwewuorweprh6546846515648646546")

# Integers are whole numbers
print(10)

# Long Integers (Python automatically handles big integers)
print(2**32)

# Floats represent decimal numbers
print(3.1243)
# Complex Numbers use 'j' to represent the imaginary part
print(2 + 3j)

meow meow
meow meow
!@#$%jkwewuorweprh6546846515648646546
10
4294967296
3.1243
(2+3j)

## Boolean
*   Booleans represent one of two values: True or False.

In [14]:
a = 5
b = 10 % 3 # Modulus operation gives the remainder of 10 divided by 3 (which is 1)
c = bool(a== b) # bool() converts the result of the comparison to True or False
print(c)  # This will print False since 5 is not equal to 1

False

In [21]:
# Equals ==
print(5 == 5)
print(5 == 4)
# Inequal !=
print(5 != 6)
# More than >
print(5>4)
# More than and equal to >=
print(6 >= 4)
# Less than <
print(6<4)
# Less than and equal to <=
print(6<=4)

True
False
True
True
True
False
False

In [24]:
# Using Boolean to find the Data Type of a Variable
# Use type() to find the data type of a value or variable

a = True # A Boolean value can be either True or False.
print(type(a)) # This checks the type of 'a' and will return <class 'bool'>

b = "hello world" # Checking the type of a string
print(type(b))  # This will return <class 'str'>, indicating it's a string.

c = 9123 # Checking the type of an integer
print(type(c)) # This will return <class 'int'>, indicating it's an integer.

<class 'bool'>
<class 'str'>
<class 'int'>

## Converting Data types

In [46]:
# Convert a float to an integer
decimal_value = int(6.234) 
print(int(decimal_value)) # Output: 6
# OR
print(int(6.234)) # Output: 6


# Convert an integer to a float
float_value = float(3)
print(float_value)  # Output: 3.0
# OR 
print(float(3))

# Convert an integer to a string and print its type
string_value = str(3) 
print(type(c))  # Output: <class 'str'>
# OR 
print(type(str(3)))

# Convert a non-zero integer to a boolean
bool_value = bool(3>0) 
print(bool_value)  # Output: True (Any non-zero value is considered True)
# OR
print(bool(5))

# Note on variable naming:
# It's best to avoid using function names as variable names to prevent confusion.
  # Use descriptive names for clarity


  # Keep the variable name clear and relevant

6
6
3.0
3.0
<class 'str'>
<class 'str'>
True
True

## Sequence Types: Strings, Lists, and Tuples

### Working with Strings

In [48]:
# Creating strings
name = "Yuhng"
print(name)
# Combining strings
last_name = "Tan"
print("Full Name:" + name + " " + last_name)  # Remember to include spaces within the quotes; otherwise, the result will be "JunYo" instead of "Jun Yo".

test = "coffee"
# Alternative Method for String Formatting
print("Full Name:{0}{1}{2}".format(name, last_name, test))# The numbers {0} and {1} correspond to the respective order of the variables: Yuhng = 0, Tan = 1.

Yuhng
Full Name:Yuhng Tan
Full Name:Yuhng Tan coffee

### Working with Lists

*   [ ]
*   It is used to store multiple items in a single variable

Just some things to note

(Example)
In the list: list4 = [3, 1, 4, 1, 5]

*   **list4** is the **variable** that stores the list.
*   **3, 1, 4, 1, 5** are the **elements** in the list.
*   **Indexes** represent the **position** of each element, **starting from 0:**
     *   '3' is at index 0
     *   '1' is at index 1
     *   '4' is at index 2
     *   '1' is at index 3
     *   '5' is at index 4

In [1]:
list1 = [] # Empty list
print(list1)

list2 = ["S", "L", "A", "Y"]
print(list2)

mixedlist = [True, "Slay", 173, 3.14] # List with different data types
print(mixedlist)

[]
['S', 'L', 'A', 'Y']
[True, 'Slay', 173, 3.14]

In [2]:
# Adding elements to a list using the above variables

list1.append(1)  # Adding an integer to the list
list1.append("AHH")  # Adding a string to the list
print(list1)  # Output: [1, "AHH"]

mixedlist.append("AHH")  # Adding a string to the mixed list
print(mixedlist)  # Output: [True, 'Slay', 173, 3.14, 'AHH']

"""
Note on the append() method:

The append() method adds the element to the end of the list each time it is executed.
Calling append() multiple times (i.e., running this code again) will continue to add the elements to the existing list, rather than starting over.
(So, the same element will be added twice if you run the code twice, three times if you run it three times, and so on.)
To reset the list, you can reinitialize it (rerun the code from the beginning).
"""

[1, 'AHH']
[True, 'Slay', 173, 3.14, 'AHH']

'\nNote on the append() method:\n\nThe append() method adds the element to the end of the list each time it is executed.\nCalling append() multiple times (i.e., running this code again) will continue to add the elements to the existing list, rather than starting over.\n(So, the same element will be added twice if you run the code twice, three times if you run it three times, and so on.)\nTo reset the list, you can reinitialize it (rerun the code from the beginning).\n'

In [3]:
# Inserting elements into a list at a specific position
# Syntax: list_.insert(position, item)

list1.insert(0, 50)  # Insert the number 50 at the 0th index (1st number is the position, 2nd is the element to add)
print(list1)  # Output will show 50 at the start of the list

[50, 1, 'AHH']

In [4]:
# Deleting elements from a list

# Using `del` to delete by index
del list1[0]  # Deletes the element at index 0 (1st element in the list)
print(list1)  # Output: List with the 1st element removed

[1, 'AHH']

In [5]:
# Alternative Method for Deleting elements from a list

# Using `remove()` to delete by value
list1.remove("AHH")  # Removes the first occurrence of the value 50 from the list
print(list1)  # Output: List without the first 50

[1]

In [6]:
# List Indexing
list4 = [3, 1, 4, 1, 5]
index_list4 = list4.index(3)  # Finds the index position of the element '3' in the list
print(index_list4)  # Output: 0 (since '3' is at the 0th index)

0

In [8]:
# Finding minimum and maximum values in a list
min_list4 = min(list4)  # Use the min() function to find the smallest element in list4
max_list4 = max(list4)  # Use the max() function to find the largest element in list4
print(min_list4)
print(max_list4)


# With labels
print("Maximum value:", max_list4)  # Output the minimum value
print("Minimum Value", min_list4)  # Output the maximum value

1
5
Maximum value: 5
Minimum Value 1

In [9]:
listNum = [4,2,1,3,6,5,9]

sorted_listNum = sorted(listNum)# Use the sorted() function to sort the list
print(sorted_listNum) # Output the sorted list

[1, 2, 3, 4, 5, 6, 9]

In [23]:
listNum2 = [1,2,3,4,5,6,9]
listNum2_rev = listNum2.reverse()  # Reverse listNum2
print(listNum2) # Otput the reversed list

[9, 6, 5, 4, 3, 2, 1]

In [14]:
listNum2 = [1,2,3,4,5,6,9]
listNum2.clear() # Clear all elements from the list
print(listNum2) # Print the cleared list

[]

In [16]:
list5 = ["M","A","Y"]
list6 = ["A", 123]
list_Combine = list5 + list6 # Add the two lists together
print(list_Combine) # Output the added list

['M', 'A', 'Y', 'A', 123]

In [17]:
listNames = ["Yuhng", "Y"]
listMultiplied = listNames * 2  # Multiply the list by 2
print(listMultiplied) # Output the multiplied list

['Yuhng', 'Y', 'Yuhng', 'Y']

### Working with Tuples
- Immutable
- It is a ordered sequence of values

In [30]:
dance = ("jazz", "tap")
type(dance) # Check the type of the 'parents' variable

tuple

In [31]:
tuplelist = list(dance)
print(tuplelist) # Output the list
type(tuplelist) # Check the type of 'tuplelist'

['jazz', 'tap']

list

In [33]:
tuplelist.append("Ballet") # Add new line to the list 'tuplelist'
print(tuplelist) # Output the updated list

['jazz', 'tap', 'Ballet', 'Ballet']

In [35]:
new_tuple = tuple(tuplelist) # Convert the list 'tuplelist' back to a tuple
print(new_tuple) # Check the value of the new tuple

('jazz', 'tap', 'Ballet', 'Ballet')

In [29]:
length_of_tuplelist = len(tuplelist) # Get the length of the list 'tuplelist'
print(length_of_tuplelist) # Output of the length

5

## Working with Sets

{ }
- It is an unordered collection with no duplicate elements
- Computer implementation of the mathematical concept of a finite set
- Mutable

In [37]:
x = {"dog", "cat", "wolf"}
print(x) # Output of the set

{'wolf', 'dog', 'cat'}

In [38]:
x.add("fish") # Add an element to the set
print(x) # Output of the updated set

{'wolf', 'dog', 'fish', 'cat'}

In [39]:
x.remove("cat") # Remove an element from the set
print(x) # Output of the updated set

{'wolf', 'dog', 'fish'}

In [40]:
z = {(1,2,3),"Hello", 2, 4.3}
print(z) # Output of the set

{2, (1, 2, 3), 4.3, 'Hello'}

In [45]:
r = [1,2,3,4,5,7,4]
print(r) # Output of the original list

r_set = set(r) # Convert the list to a set (to remove duplicates)
print(r_set) # Output of the converted set

type_of_r = type(r_set)# Check the data type of r_set
print(type_of_r) # Output of the converted set

[1, 2, 3, 4, 5, 7, 4]
{1, 2, 3, 4, 5, 7}
<class 'set'>

## Working with Dictionaries

In [35]:
# Creating a dictionary to store information about a person






  # Outputs the entire dictionary

# Accessing a specific value using the key


# Using the get() method to retrieve a value safely