# DACademy Session 1: Basic GitHub + Intro to Python

## Comments and Print Statements:

In [1]:
# Welcome to DAC!
# Single-line comments use the hash symbol
# Comments are useful for explaining code or for temporary debugging

"""
Multi-line comments are created using triple quotes
They can span multiple lines and are often used for detailed explanations or documentation.
Hi hi hi hi hi
"""

# The print() function is used to display output
print("Hello World")

Hello World

**Keyboard Shortcuts to Run Code**


*   Mac: Command (âŒ˜) + Enter
*   Windows: Ctrl + Enter

In [2]:
# Now try printing your name!
print("Richelle")

Richelle

## Basic Arithmetic Operations and Data Types

In [9]:
# Arithmetic Operators: + - * / % **

# Addition +
print(8+3)

# Subtraction -
print(8 - 3)

# Multiplication *
print(8 * 3)

# Division /
print(8 / 3)

# Modulo % (Gives the remainder of division, e.g., 8 % 3 = 2)
print(8 % 3)

# Exponentiation **
print(8 ** 3)

11
5
24
2.6666666666666665
2
512

In [13]:
# Text inside quotes is known as a string
# Can use either "" or '', both work the same
print('me')

# This is to show you that the string can contain any special characters
print("!@#$%jkwewuorweprh6546846515648646546")

# Integers are whole numbers
print(10)

# Long Integers (Python automatically handles big integers)
print(2**32)

# Floats represent decimal numbers
print(3.14)

# Complex Numbers use 'j' to represent the imaginary part
print(2+3j)

me
!@#$%jkwewuorweprh6546846515648646546
10
4294967296
3.14
(2+3j)

## Boolean
*   Booleans represent one of two values: True or False.

In [15]:
a = 5
# Modulus operation gives the remainder of 10 divided by 3 (which is 1)
b = 10 % 3
# bool() converts the result of the comparison to True or False
c = bool(a == b)
# This will print False since 5 is not equal to 1
print(c)

False

In [17]:
# Equals ==
print(5 == 5)
print(5 == 4)

# Inqual !=
print(5 != 6)

# More than >
print(5 > 4)

# More than and equal to >=
print(6 >= 4)

# Less than <
print(6 < 4)

# Less than and equal to <=
print(6 <= 4)

True
False
True
True
True
False
False

In [20]:
# Using Boolean to find the Data Type of a Variable
# Use type() to find the data type of a value or variable

a = True # A Boolean value can be either True or False.
print(type(a)) # This checks the type of 'a' and will return <class 'bool'>

# Checking the type of a string
print(type("I love DAC")) # This will return <class 'str'>, indicating it's a string.

# Checking the type of an integer
print(type(10))  # This will return <class 'int'>, indicating it's an integer.

<class 'bool'>
<class 'str'>
<class 'int'>

## Converting Data types

In [27]:
# Convert a float to an integer
print(int(6.55555))  # Output: 6

# Convert an integer to a float
print(float(3))  # Output: 3.0

# Convert an integer to a string and print its type
print(type(str('6')))  # Output: <class 'str'>

# Convert a non-zero integer to a boolean
print(bool(10))  # Output: True (Any non-zero value is considered True)

# Note on variable naming:
# It's best to avoid using function names as variable names to prevent confusion.
decimal_value = 3.142  # Use descriptive names for clarity
print(decimal_value)

number = 5  # Keep the variable name clear and relevant
print(number)

6
3.0
<class 'str'>
True
3.142
5

## Sequence Types: Strings, Lists, and Tuples

### Working with Strings

In [34]:
# Creating strings
name = "richelle"
print(name)

# Combining strings
last_name = "wong"  # Remember to include spaces within the quotes; otherwise, the result will be "JunYo" instead of "Jun Yo".
print("Full Name: " + name + " "+ last_name)

# Alternative Method for String Formatting
print("Full Name: {0} {1}".format(name, last_name))  # The numbers {0} and {1} correspond to the respective order of the variables: Jun = 0, Yo = 1.

richelle
Full Name: richelle wong
Full Name: richelle wong

### Working with Lists

*   [ ]
*   It is used to store multiple items in a single variable

Just some things to note

(Example)
In the list: list4 = [3, 1, 4, 1, 5]

*   **list4** is the **variable** that stores the list.
*   **3, 1, 4, 1, 5** are the **elements** in the list.
*   **Indexes** represent the **position** of each element, **starting from 0:**
     *   '3' is at index 0
     *   '1' is at index 1
     *   '4' is at index 2
     *   '1' is at index 3
     *   '5' is at index 4

In [8]:
 # Empty list
list1 = []




 # List with different data types
list2 = [30, "hi", 7.9, True]
print (list2)

[30, 'hi', 7.9, True]

In [11]:
# Adding elements to a list using the above variables
list1.append(1)
list1.append("yay")
print(list1)
  # Adding an integer to the list
  # Adding a string to the list
  # Output: [1, "AHH"]

  # Adding a string to the mixed list
list2.append("AHH") 
print(list2)
  # Output: [True, 'Slay', 173, 3.14, 'AHH']

"""
Note on the append() method:

The append() method adds the element to the end of the list each time it is executed.
Calling append() multiple times (i.e., running this code again) will continue to add the elements to the existing list, rather than starting over.
(So, the same element will be added twice if you run the code twice, three times if you run it three times, and so on.)
To reset the list, you can reinitialize it (rerun the code from the beginning).
"""

[1, 'yay', 1, 'yay', 1, 'yay']
[30, 'hi', 7.9, True, 'AHH']

'\nNote on the append() method:\n\nThe append() method adds the element to the end of the list each time it is executed.\nCalling append() multiple times (i.e., running this code again) will continue to add the elements to the existing list, rather than starting over.\n(So, the same element will be added twice if you run the code twice, three times if you run it three times, and so on.)\nTo reset the list, you can reinitialize it (rerun the code from the beginning).\n'

In [13]:
# Inserting elements into a list at a specific position
# Syntax: list_.insert(position, item)
list1.insert(0,50)
print(list1)
  # Insert the number 50 at the 0th index (1st number is the position, 2nd is the element to add)
  # Output will show 50 at the start of the list

[50, 50, 1, 'yay', 1, 'yay', 1, 'yay']

In [15]:
# Deleting elements from a list

# Using `del` to delete by index
del list1[0]
print(list1)
  # Deletes the element at index 0 (1st element in the list)
  # Output: List with the 1st element removed

[1, 'yay', 1, 'yay', 1, 'yay']

In [16]:
# Alternative Method for Deleting elements from a list

# Using `remove()` to delete by value
list1.remove("yay")
print(list1)
  # Removes the first occurrence of the value 50 from the list
  # Output: List without the first 50

[1, 1, 'yay', 1, 'yay']

In [19]:
# List Indexing
list4 = [3,1,4,1,5]
index_list4 = list4.index(3)
print(index_list4)
  # Finds the index position of the element '3' in the list
  # Output: 0 (since '3' is at the 0th index)

0

In [22]:
# Finding minimum and maximum values in a list
min_list4 = min(list4)
max_list4 = max(list4)
print(min_list4)
print(max_list4)
  # Use the min() function to find the smallest element in list4
  # Use the max() function to find the largest element in list4



# With labels
print("Maximum value: ", max_list4)
print("Minimum value: ", min_list4)
  # Output the minimum value
  # Output the maximum value

1
5
Maximum value:  5
Minimum value:  1

In [23]:
listNum = [4,2,1,3,6,5,9]

 # Use the sorted() function to sort the list
sorted_listNumList = sorted(listNum)
 # Output the sorted list
print(sorted_listNumList)

[1, 2, 3, 4, 5, 6, 9]

In [24]:
listNum2 = [1,2,3,4,5,6,9]
 # Reverse listNum2
listNum2.reverse()
 # Otput the reversed list
print(listNum2)

[9, 6, 5, 4, 3, 2, 1]

In [25]:
listNum2 = [1,2,3,4,5,6,9]
 # Clear all elements from the list
listNum2.clear()
 # Print the cleared list
print(listNum2)

[]

In [26]:
list5 = ["M", "A", "Y"]
list6 = ["A", 123]
 # Add the two lists together
listAdded = list5 + list6
 # Output the added list
print(listAdded)

['M', 'A', 'Y', 'A', 123]

In [27]:
listNames = ["Richelle", "W"]
 # Multiply the list by 2
listMultiplied = listNames * 2 
 # Output the multiplied list
print(listMultiplied)

['Richelle', 'W', 'Richelle', 'W']

### Working with Tuples
- Immutable
- It is a ordered sequence of values

In [28]:
dance = ("jazz", "tap")
 # Check the type of the 'parents' variable
type(dance)

tuple

In [30]:
tupleList = list(dance)
 # Output the list
print(tupleList)
 # Check the type of 'tuplelist'
type(tupleList)

['jazz', 'tap']

list

In [32]:
 # Add new line to the list 'tuplelist'
tupleList.append("Ballet")
 # Output the updated list
print(tupleList)

['jazz', 'tap', 'Ballet']

In [33]:
 # Convert the list 'tuplelist' back to a tuple
newTuple = tuple(tupleList)
 # Check the value of the new tuple
print(newTuple)

('jazz', 'tap', 'Ballet')

In [35]:
 # Get the length of the list 'tuplelist'
length_of_tupleList = len(tupleList)
 # Output of the length
print(length_of_tupleList)

3

## Working with Sets

{ }
- It is an unordered collection with no duplicate elements
- Computer implementation of the mathematical concept of a finite set
- Mutable

In [36]:
x = {"dog", "cat", "wolf"}
 # Output of the set
print(x)

{'dog', 'wolf', 'cat'}

In [37]:
 # Add an element to the set
x.add("fish")
 # Output of the updated set
print(x)

{'dog', 'wolf', 'cat', 'fish'}

In [38]:
 # Remove an element from the set
x.remove("cat")
 # Output of the updated set
print(x)

{'dog', 'wolf', 'fish'}

In [42]:
z = {(1,2,3), "Hello", 2, 4.3}
 # Output of the set
print(z)

{2, (1, 2, 3), 'Hello', 4.3}

In [46]:
r = [1,2,3,4,5,7,4]
 # Output of the original list
print(r)
 # Convert the list to a set (to remove duplicates)
r_set = set(r)
 # Output of the converted set
print(r_set)

 # Check the data type of r_set
type_of_r = type(r_set)
 # Output of the converted set
print(type_of_r)

[1, 2, 3, 4, 5, 7, 4]
{1, 2, 3, 4, 5, 7}
<class 'set'>