# DACademy Session 1: Basic GitHub + Intro to Python

## Comments and Print Statements:

In [3]:
# Welcome to DAC!
# Single-line comments use the triple quotes
# Comments are useful for explaining code or for temporary debugging

"""
Multi-line comments are created using ______
They can span multiple lines and are often used for detailed explanations or documentation.
Hi hi hi hi hi
"""

# The print() function is used to display output
print("Hello world")
print("HELP")
print("MANASA")

Hello world
HELP
MANASA

**Keyboard Shortcuts to Run Code**


*   Mac: Command (âŒ˜) + Enter
*   Windows: Ctrl + Enter

In [4]:
# Now try printing your name!

## Basic Arithmetic Operations and Data Types

In [14]:
# Arithmetic Operators: + - * / % **

# Addition +
print(8+3)
# Subtraction -
print(8-3)
# Multiplication *
print(8*3)
# Division /
print(8/3)
# Modulo % (Gives the quotient of division, e.g., 8 % 3 = 2)
print(8%3)
# Exponentiation ** (8 to the power of 3)
print(8**3)

11
5
24
2.6666666666666665
2
512

In [18]:
# Text inside quotes is known as a string
# Can use either "" or '', both work the same
print("meow meow")
# This is to show you that the string can contain any special characters
print("!@#$%jkwewuorweprh6546846515648646546")
# Integers are whole numbers
print(10)
# Long Integers (Python automatically handles big integers)
print(2**32)
# Floats represent decimal numbers
print(5.52983837)
# Complex Numbers use 'j' to represent the imaginary part

meow meow
!@#$%jkwewuorweprh6546846515648646546
10
4294967296
5.52983837

## Boolean
*   Booleans represent one of two values: True or False.

In [8]:
a=5
b=10%3
c=bool(a==b)

  # Modulus operation gives the remainder of 10 divided by 3 (which is 1)
  # bool() converts the result of the comparison to True or False
  # This will print False since 5 is not equal to 1

In [29]:
# Equals ==
print(5==5)
print(5==4)
# Inqual !=
print(5!=4)
print(5!=5)
# More than >
print(5>2)
print(5>8)
# More than and equal to >=
print(9>=9)
print(9>=8)
print(9>=10)
# Less than <
print(6<9)
# Less than and equal to <=
print(8<=10)

True
False
True
False
True
False
True
True
False
True
True

In [37]:
a=true
# Using Boolean to find the Data Type of a Variable
# Use type() to find the data type of a value or variable
type(10)
type(9.0)
 # A Boolean value can be either True or False.
 # This checks the type of 'a' and will return <class 'bool'>
type(a)
# Checking the type of a string
  # This will return <class 'str'>, indicating it's a string.

# Checking the type of an integer
  # This will return <class 'int'>, indicating it's an integer.

NameError: name 'true' is not defined

## Converting Data types

In [46]:
# Convert a float to an integer
print(int(6.55555))# Output: 6

# Convert an integer to a float
print(float(3)) # Output: 3.0

# Convert an integer to a string and print its type
print(type(str(9)))# Output: <class 'str'>

# Convert a non-zero integer to a boolean
  # Output: True (Any non-zero value is considered True)
print(bool(5))
# Note on variable naming:
# It's best to avoid using function names as variable names to prevent confusion.
decimal_value = 3.142  # Use descriptive names for clarity
print(decimal_value)

number = 5  #Keep the variable name clear and relevant
print(number)

6
3.0
<class 'str'>
True
3.142
5

## Sequence Types: Strings, Lists, and Tuples

### Working with Strings

In [7]:
# Creating strings
name="manasa"
print(name)
# Combining strings
  # Remember to include spaces within the quotes; otherwise, the result will be "JunYo" instead of "Jun Yo".
last_name="murari"
print("Full name:"+name+" "+last_name)
# Alternative Method for String Formatting
  # The numbers {0} and {1} correspond to the respective order of the variables: Jun = 0, Yo = 1.
print("Full name:{0} {1}".format(name, last_name))

SyntaxError: invalid syntax (2465806581.py, line 12)

Just some things to note

(Example)
In the list: list4 = [3, 1, 4, 1, 5]

*   **list4** is the **variable** that stores the list.
*   **3, 1, 4, 1, 5** are the **elements** in the list.
*   **Indexes** represent the **position** of each element, **starting from 0:**
     *   '3' is at index 0
     *   '1' is at index 1
     *   '4' is at index 2
     *   '1' is at index 3
     *   '5' is at index 4

In [12]:
 # Empty list
list1=[]
print(list1)



 # List with different data types
mixedlist=[True, 'Monday',134 ,3.14]
print(mixedlist)

[]
[True, 'Monday', 134, 3.14]

In [16]:
# Adding elements to a list using the above variables
list1.append(1)
list1.append("yay")
print(list1)
  # Adding an integer to the list
  # Adding a string to the list
  # Output: [1, "AHH"]

mixedlist.append("yay")
print(mixedlist)
  # Adding a string to the mixed list
  # Output: [True, 'Slay', 173, 3.14, 'AHH']

"""
Note on the append() method:

The append() method adds the element to the end of the list each time it is executed.
Calling append() multiple times (i.e., running this code again) will continue to add the elements to the existing list, rather than starting over.
(So, the same element will be added twice if you run the code twice, three times if you run it three times, and so on.)
To reset the list, you can reinitialize it (rerun the code from the beginning).
"""

[1, 1, 'yay', 1, 'yay', 1, 'yay']
[True, 'Monday', 134, 3.14, 'yay', 'yay']

'\nNote on the append() method:\n\nThe append() method adds the element to the end of the list each time it is executed.\nCalling append() multiple times (i.e., running this code again) will continue to add the elements to the existing list, rather than starting over.\n(So, the same element will be added twice if you run the code twice, three times if you run it three times, and so on.)\nTo reset the list, you can reinitialize it (rerun the code from the beginning).\n'

In [19]:
# Inserting elements into a list at a specific position
# Syntax: list_.insert(position, item)
list1.insert(0, 50)
print(list1)
  # Insert the number 50 at the 0th index (1st number is the position, 2nd is the element to add)
  # Output will show 50 at the start of the list

[50, 1, 1, 'yay', 1, 'yay', 1, 'yay']

In [21]:
# Deleting elements from a list

# Using `del` to delete by index
del list1[0]
print(list1)
  # Deletes the element at index 0 (1st element in the list)
  # Output: List with the 1st element removed

[1, 'yay', 1, 'yay', 1, 'yay']

In [27]:
# Alternative Method for Deleting elements from a list
list1.remove("yay")
print(list1)
# Using `remove()` to delete by value
  # Removes the first occurrence of the value 50 from the list
  # Output: List without the first 50

ValueError: list.remove(x): x not in list

In [42]:
# List Indexing
list4 = [3, 1, 4, 1, 5]
index_list4 = list4.index(3)
print(index_list4)
  # Finds the index position of the element '3' in the list
  # Output: 0 (since '3' is at the 0th index)

0

In [31]:
# Finding minimum and maximum values in a list
  # Use the min() function to find the smallest element in list4
  # Use the max() function to find the largest element in list4
min_list4 = min(list4) 
max_list4 = max(list4)
print(min_list4)
print(max_list4)

# With labels
  # Output the minimum value
  # Output the maximum value

1
5

In [33]:
listNum = [4,2,1,3,6,5,9]
sorted_listNumList = sorted(listNum)
print(sorted_listNumList)
 # Use the sorted() function to sort the list
 # Output the sorted list

[1, 2, 3, 4, 5, 6, 9]

In [35]:
listNum2 = [1,2,3,4,5,6,9]
listNum2.reverse() 
print(listNum2)
 # Reverse listNum2
 # Otput the reversed list

[9, 6, 5, 4, 3, 2, 1]

In [36]:
listNum2 = [1,2,3,4,5,6,9]
listNum2.clear()
print(listNum2)
 # Clear all elements from the list
 # Print the cleared list

[]

In [38]:
list5 = ["M" , "A" , "Y"]
list6 = ["A" , 123]
listAdded = list5 + list6 
print(listAdded)

 # Add the two lists together
 # Output the added list

['M', 'A', 'Y', 'A', 123]

In [39]:
listNames = ("Manasa" , "Murari")
listMultiplied = listNames * 2
print(listMultiplied)
 # Multiply the list by 2
 # Output the multiplied list

('Manasa', 'Murari', 'Manasa', 'Murari')

### Working with Tuples
- Immutable
- It is a ordered sequence of values

In [43]:
dance = ("jazz" , "tap")
type(dance)
 # Check the type of the 'parents' variable

tuple

In [46]:
tuplelist = list(dance)
print(tuplelist)
type(tuplelist)
 # Output the list
 # Check the type of 'tuplelist'

['jazz', 'tap']

list

In [49]:
 # Add new line to the list 'tuplelist'
 # Output the updated list
 # I edited it and then deleted it, thats why theres Ballet and ballet
tuplelist.append("ballet")
print(tuplelist)

['jazz', 'tap', 'Ballet', 'ballet']

In [50]:
 # Convert the list 'tuplelist' back to a tuple
 # Check the value of the new tuple
new_tuple = tuple(tuplelist)
print(new_tuple)

('jazz', 'tap', 'Ballet', 'ballet')

In [52]:
 # Get the length of the list 'tuplelist'
 # Output of the length
length_of_tuplelist = len(tuplelist)
print(length_of_tuplelist)

4

## Working with Sets

{ }
- It is an unordered collection with no duplicate elements
- Computer implementation of the mathematical concept of a finite set
- Mutable

In [55]:

 # Output of the set
x = {"dog" , "cat" , "wolf"}
print(x)

{'dog', 'cat', 'wolf'}

In [56]:
 # Add an element to the set
 # Output of the updated set
x.add("fish")
print(x)

{'dog', 'cat', 'wolf', 'fish'}

In [57]:
 # Remove an element from the set
 # Output of the updated set
x.remove("cat")
print(x)

{'dog', 'wolf', 'fish'}

In [59]:
z = {(1,2,3,), "Hello", 4.3}
print(z)

 # Output of the set

{(1, 2, 3), 4.3, 'Hello'}

In [63]:
r = [1,2,3,4,5,7,4] # Output of the original list
print(r)

r_set = set(r)# Convert the list to a set (to remove duplicates)
print(r_set) # Output of the converted set


type_of_r = type(r_set) # Check the data type of r_set
print(type_of_r) # Output of the converted set:wq

[1, 2, 3, 4, 5, 7, 4]
{1, 2, 3, 4, 5, 7}
<class 'set'>

## Working with Dictionaries

In [35]:
# Creating a dictionary to store information about a person






  # Outputs the entire dictionary

# Accessing a specific value using the key


# Using the get() method to retrieve a value safely