# DACademy Session 1: Basic GitHub + Intro to Python

## Comments and Print Statements:

In [125]:
# Welcome to DAC!
# Single-line comments use the ____hash__
# Comments are useful for explaining code or for temporary debugging

"""
Multi-line comments are created using __triple hash____
They can span multiple lines and are often used for detailed explanations or documentation.
Hi hi hi hi hi
"""

# The print() function is used to display output
print("hello world")

hello world

**Keyboard Shortcuts to Run Code**


*   Mac: Command (âŒ˜) + Enter
*   Windows: Ctrl + Enter

In [126]:
print("inesh")

inesh

## Basic Arithmetic Operations and Data Types

In [307]:
# Arithmetic Operators: + - * / % **

# Addition +
print(8+3)

# Subtraction -
print(8-3)
# Multiplication *
print(8*3)
# Division /
print(8/3)
# Modulo % (Gives the remainder of division, e.g., 8 % 3 = 2)
print(8%3)
# Exponentiation **
print(8 ** 3)

11
5
24
2.6666666666666665
2
512

In [313]:
# Text inside quotes is known as a string
# Can use either "" or '', both work the same
print("meow meow")
print('meow meow')
# This is to show you that the string can contain any special characters
print("!@#$%jkwewuorweprh6546846515648646546")

# Integers are whole numbers
print(10)
# Long Integers (Python automatically handles big integers)
print(2 ** 32)
# Floats represent decimal numbers
print(3.14)
# Complex Numbers use 'j' to represent the imaginary part
print(2+3j)

meow meow
meow meow
!@#$%jkwewuorweprh6546846515648646546
10
4294967296
3.14
(2+3j)

## Boolean
*   Booleans represent one of two values: True or False.

In [318]:
a = 5
b = 10 % 3  # Modulus operation gives the remainder of 10 divided by 3 (which is 1)
c = bool (a == b) # bool() converts the result of the comparison to True or False
print(c)# This will print False since 5 is not equal to 1

False

In [330]:
# Equals ==
print(5 ==5)
print(5 == 4)
# Inqual !=
print (5!= 6)
# More than >
print(5>4)
# More than and equal to >=
print(6 >= 4)
# Less than <
print(6 > 4)
# Less than and equal to <=
print(6 <= 4)

True
False
True
True
True
True
False

In [319]:
# Using Boolean to find the Data Type of a Variable
# Use type() to find the data type of a value or variable

a = True # A Boolean value can be either True or False.
print(type(a))# This checks the type of 'a' and will return <class 'bool'>

# Checking the type of a string
print(type("i love DAC")) # This will return <class 'str'>, indicating it's a string.

# Checking the type of an integer
print(type(4))# This will return <class 'int'>, indicating it's an integer.

<class 'bool'>
<class 'str'>
<class 'int'>

## Converting Data types

In [332]:
# Convert a float to an integer
print(int(6.555555)) # Output: 6

# Convert an integer to a float
print(float(3)) # Output: 3.0

# Convert an integer to a string and print its type
print(type(str(6))) # Output: <class 'str'>

# Convert a non-zero integer to a boolean
print(bool(5)) # Output: True (Any non-zero value is considered True)

# Note on variable naming:
# It's best to avoid using function names as variable names to prevent confusion.
decimal_value = 3.142  # Use descriptive names for clarity
print(decimal_value)

number = 5 # Keep the variable name clear and relevant
print(number)

6
3.0
<class 'str'>
True
3.142
5

## Sequence Types: Strings, Lists, and Tuples

### Working with Strings

In [325]:
# Creating strings
name = "inesh"
print(name)
# Combining strings
last_name = "tanasekar"
print("Full name:" + name + "" + last_name)
  # Remember to include spaces within the quotes; otherwise, the result will be "JunYo" instead of "Jun Yo".

# Alternative Method for String Formatting
print("Full Name: {0} {1}".format(name, last_name))# The numbers {0} and {1} correspond to the respective order of the variables: Jun= 0, Yo = 1.

inesh
Full name:ineshtanasekar
Full Name: inesh tanasekar

### Working with Lists

*   [ ]
*   It is used to store multiple items in a single variable

Just some things to note

(Example)
In the list: list4 = [3, 1, 4, 1, 5]

*   **list4** is the **variable** that stores the list.
*   **3, 1, 4, 1, 5** are the **elements** in the list.
*   **Indexes** represent the **position** of each element, **starting from 0:**
     *   '3' is at index 0
     *   '1' is at index 1
     *   '4' is at index 2
     *   '1' is at index 3
     *   '5' is at index 4

In [17]:
list1 = [] 
# Empty list
print(list1)

mixedlist = (True, "Monday" , 134, 3.14)
print(mixedlist)
 # List with different data types

[]
(True, 'Monday', 134, 3.14)

In [18]:
# Adding elements to a list using the above variables
list1.append(1)
list1.append("yay")
print(list1)
  # Adding an integer to the list
mixedlist.append("yay")
print(mixedlist)
  # Adding a string to the list
  # Output: [1, "AHH"]

  # Adding a string to the mixed list
  # Output: [True, 'Slay', 173, 3.14, 'AHH']

"""
Note on the append() method:

The append() method adds the element to the end of the list each time it is executed.
Calling append() multiple times (i.e., running this code again) will continue to add the elements to the existing list, rather than starting over.
(So, the same element will be added twice if you run the code twice, three times if you run it three times, and so on.)
To reset the list, you can reinitialize it (rerun the code from the beginning).
"""

[1, 'yay']

AttributeError: 'tuple' object has no attribute 'append'

In [15]:
# Inserting elements into a list at a specific position
# Syntax: list_.insert(position, item)
list1.insert(0, 50)
print(list1)
# Output will show 50 at the start of the list

AttributeError: 'tuple' object has no attribute 'insert'

In [287]:
# Deleting elements from a list

# Using `del` to delete by index
  # Deletes the element at index 0 (1st element in the list)
  # Output: List with the 1st element removed

In [288]:
# Alternative Method for Deleting elements from a list

# Using `remove()` to delete by value
list1.remove("yay")
  # Removes the first occurrence of the value 50 from the list
  # Output: List without the first 50

In [10]:
# List Indexing
list4 = (3, 1, 4, 1, 5)
index_list4 = list4.index(3)
print(index_list4)
#
  # Finds the index position of the element '3' in the list
  
  # Output: 0 (since '3' is at the 0th index)

0

In [290]:
# Finding minimum and maximum values in a list
min_list4 = min(# Use the min() function to find the smallest element in list4
  # Use the max() function to find the largest element in list4



# With labels
  # Output the minimum value
  # Output the maximum value

In [291]:
listNum(4,2,1,3,6,5,9)
sorted_listNumList =
# Use the sorted() function to sort the list
 # Output the sorted list

In [292]:
ListNum2 = (1,2,3,4,5,6,9)
 # Reverse listNum2
 listNum2.reverse()
 # Otput the reversed list
 print(listNum)

In [293]:

 # Clear all elements from the list
ListNum2 = (1,2,3,4,5,6,9)
ListNum2.clear()
 # Print the cleared list
print(listNum2)

In [294]:


 # Add the two lists together
 # Output the added list

In [295]:

 # Multiply the list by 2
ListNames = ("inesh" , "tanasekar")
ListNames
 # Output the multiplied list

### Working with Tuples
- Immutable
- It is a ordered sequence of values

In [296]:
dance = 
 # Check the type of the 'parents' variable

In [297]:

 # Output the list
 # Check the type of 'tuplelist'

In [16]:
tuplelist.append("Ballet", "Hip Hop", "Salsa") # Add new line to the list 'tuplelist'
 # Output the updated list

NameError: name 'tuplelist' is not defined

In [299]:
 # Convert the list 'tuplelist' back to a tuple
 # Check the value of the new tuple

In [300]:
 # Get the length of the list 'tuplelist'
 # Output of the length

## Working with Sets

{ }
- It is an unordered collection with no duplicate elements
- Computer implementation of the mathematical concept of a finite set
- Mutable

In [19]:
x = {"dog", "cat" , "wolf"}
print(x)
 # Output of the set

{'wolf', 'cat', 'dog'}

In [20]:
 
# Add an element to the set
x.add("dolphin")
print(x) # Output of the updated set

{'wolf', 'cat', 'dolphin', 'dog'}

In [25]:
 # Remove an element from the set
x.remove("cat") 
 # Output of the updated set
print(x)

KeyError: 'cat'

In [23]:
z = {{1, 2, 3}, "fein fein fein", 2, 4.3}
 # Output of the set
print(z)

TypeError: unhashable type: 'set'

In [305]:

 # Output of the original list

 # Convert the list to a set (to remove duplicates)
 # Output of the converted set

 # Check the data type of r_set
 # Output of the converted set

## Working with Dictionaries

In [306]:
# Creating a dictionary to store information about a person






  # Outputs the entire dictionary

# Accessing a specific value using the key


# Using the get() method to retrieve a value safely