# DACademy Session 1: Basic GitHub + Intro to Python

## Comments and Print Statements:

In [4]:
# Welcome to DAC!
# Single-line comments use the hash
# Comments are useful for explaining code or for temporary debugging

"""
Multi-line comments are created using triple quotes
They can span multiple lines and are often used for detailed explanations or documentation.
Hi hi hi hi hi
"""

# The print() function is used to display output
print("Hello World")

Hello World

**Keyboard Shortcuts to Run Code**


*   Mac: Command (âŒ˜) + Enter
*   Windows: Ctrl + Enter

In [5]:
# Now try printing your name!
print("Min Ye Thway")

Min Ye Thway

## Basic Arithmetic Operations and Data Types

In [13]:
# Arithmetic Operators: + - * / % **

# Addition +
print(38+43)
# Subtraction -
print(55-78)
# Multiplication *
print(66*5)
# Division /
print(554/4)
# Modulo % (Gives the remainder of division, e.g., 8 % 3 = 2)
print(77%4)
# Exponentiation **
print(5**4)

81
-23
330
138.5
1
625

In [20]:
# Text inside quotes is known as a string
# Can use either "" or '', both work the same
print('jajajja')
# This is to show you that the string can contain any special characters
print("!@#$%jkwewuorweprh6546846515648646546")

# Integers are whole numbers
print(10)
# Long Integers (Python automatically handles big integers)
print(2**124)
# Floats represent decimal numbers
print(3.14)
# Complex Numbers use 'j' to represent the imaginary part
print(1+2j)

jajajja
!@#$%jkwewuorweprh6546846515648646546
10
21267647932558653966460912964485513216
3.14
(1+2j)

## Boolean
*   Booleans represent one of two values: True or False.

In [25]:
a = 5
b = 10 % 3
c = bool(a == b)
print(c)
print(a!=b)
  # Modulus operation gives the remainder of 10 divided by 3 (which is 1)
  # bool() converts the result of the comparison to True or False
  # This will print False since 5 is not equal to 1

False
True

In [35]:
# Equals == 
print(5 == 5)
print(3 == 6)
# Inqual !=
print(1 != 6)
print(0 != 0)
# More than >
print(1 > 5)
# More than and equal to >=
print(6 >= 6)
# Less than <
print(7 < 0)
# Less than and equal to <=
print(12 <= 10)

True
False
True
False
False
True
False
False

In [39]:
# Using Boolean to find the Data Type of a Variable
# Use type() to find the data type of a value or variable

a = True # A Boolean value can be either True or False.
print(type(a)) # This checks the type of 'a' and will return <class 'bool'>

# Checking the type of a string
print(type("hello sir"))  # This will return <class 'str'>, indicating it's a string.

# Checking the type of an integer
print(type(45))  # This will return <class 'int'>, indicating it's an integer.

<class 'bool'>
<class 'str'>
<class 'int'>

## Converting Data types

In [52]:
# Convert a float to an integer
  # Output: 6
print(int(3.25))
# Convert an integer to a float
  # Output: 3.0
print(float(45))
# Convert an integer to a string and print its type
  # Output: <class 'str'>
a = str(10)
print(a)
print(type(a))
# Convert a non-zero integer to a boolean
  # Output: True (Any non-zero value is considered True)
b = bool(-1)
print(b)
print(type(b))
# Note on variable naming:
# It's best to avoid using function names as variable names to prevent confusion.
  # Use descriptive names for clarity
decimal_value = 3.123
print(decimal_value)
  # Keep the variable name clear and relevant
number = 12
print(number)

3
45.0
10
<class 'str'>
True
<class 'bool'>
3.123
12

## Sequence Types: Strings, Lists, and Tuples

### Working with Strings

In [60]:
# Creating strings
name = "Min"
print(name)
# Combining strings
  # Remember to include spaces within the quotes; otherwise, the result will be "JunYo" instead of "Jun Yo".
print("Min", "Ye", "Thway")

last_name = "Y.Thway"
print("Full Name: " + name + " " + last_name)
# Alternative Method for String Formatting
  # The numbers {0} and {1} correspond to the respective order of the variables: Jun = 0, Yo = 1.
print("Full Name: {0} {1}".format(name, last_name))

Min
Min Ye Thway
Full Name: Min Y.Thway
Full Name: Min Y.Thway

### Working with Lists

*   [ ]
*   It is used to store multiple items in a single variable

Just some things to note

(Example)
In the list: list4 = [3, 1, 4, 1, 5]

*   **list4** is the **variable** that stores the list.
*   **3, 1, 4, 1, 5** are the **elements** in the list.
*   **Indexes** represent the **position** of each element, **starting from 0:**
     *   '3' is at index 0
     *   '1' is at index 1
     *   '4' is at index 2
     *   '1' is at index 3
     *   '5' is at index 4

In [20]:
 # Empty list
list1 = []
print(list1)
mixedlist = [True, "Monday", 134, 3.14]
print(mixedlist)
 # List with different data types
list2 = [2, "g", 3.14]
print(list2)

[]
[True, 'Monday', 134, 3.14]
[2, 'g', 3.14]

In [21]:
# Adding elements to a list using the above variables
list1.append(1)
list1.append("yay")
print(list1)
  # Adding an integer to the list
  # Adding a string to the list
  # Output: [1, "AHH"]

mixedlist.append("yay")  # Adding a string to the mixed list
  # Output: [True, 'Slay', 173, 3.14, 'AHH']

"""
Note on the append() method:

The append() method adds the element to the end of the list each time it is executed.
Calling append() multiple times (i.e., running this code again) will continue to add the elements to the existing list, rather than starting over.
(So, the same element will be added twice if you run the code twice, three times if you run it three times, and so on.)
To reset the list, you can reinitialize it (rerun the code from the beginning).
"""

[1, 'yay']

'\nNote on the append() method:\n\nThe append() method adds the element to the end of the list each time it is executed.\nCalling append() multiple times (i.e., running this code again) will continue to add the elements to the existing list, rather than starting over.\n(So, the same element will be added twice if you run the code twice, three times if you run it three times, and so on.)\nTo reset the list, you can reinitialize it (rerun the code from the beginning).\n'

In [22]:
# Inserting elements into a list at a specific position
# Syntax: list_.insert(position, item)
list1.insert(0, 50)
print(list1)
# Insert the number 50 at the 0th index (1st number is the position, 2nd is the element to add)
# Output will show 50 at the start of the list

[50, 1, 'yay']

In [23]:
# Deleting elements from a list

# Using `del` to delete by index
del list1[0]
print(list1)
  # Deletes the element at index 0 (1st element in the list)
  # Output: List with the 1st element removed

[1, 'yay']

In [24]:
# Alternative Method for Deleting elements from a list
list1.remove("yay")
print(list1)
# Using `remove()` to delete by value
  # Removes the first occurrence of the value 50 from the list
  # Output: List without the first 50

[1]

In [29]:
# List Indexing
list4 = [3,1,4,1,5]
index_list4 = list4.index(3)
print(index_list4)
  # Finds the index position of the element '3' in the list
  # Output: 0 (since '3' is at the 0th index)

0

In [33]:
# Finding minimum and maximum values in a list
  # Use the min() function to find the smallest element in list4
  # Use the max() function to find the largest element in list4
min_list4 = min(list4)
max_list4 = max(list4)
print(min_list4)
print(max_list4)
# With labels
print("Minimum Value:", min_list4)  # Output the minimum value
print("Maximum Value:", max_list4)  # Output the maximum value

1
5
Minimum Value: 1
Maximum Value: 5

In [34]:
listNum = [4,2,1,3,6]
sorted_listNumList = sorted(listNum)
print(sorted_listNumList)
 # Use the sorted() function to sort the list
 # Output the sorted list

[1, 2, 3, 4, 6]

In [38]:
listNum2 = [1,3,2,9,5]
listNum2.reverse()
print(listNum2)
 # Reverse listNum2
 # Otput the reversed list

[5, 9, 2, 3, 1]

In [40]:
listNum2 = [1,2,3,4,5,6,9]
listNum2.clear()
print(listNum2)
 # Clear all elements from the list
 # Print the cleared list

[]

In [41]:
list5 = ["M","A","Y"]
list6 = ["A", 123]
listAdded = list5 + list6
print(listAdded)
 # Add the two lists together
 # Output the added list

['M', 'A', 'Y', 'A', 123]

In [42]:
listNames = ["Min", "Ye", "Thway"]
listMultiplied = listNames *2
print(listMultiplied)
 # Multiply the list by 2
 # Output the multiplied list

['Min', 'Ye', 'Thway', 'Min', 'Ye', 'Thway']

### Working with Tuples
- Immutable
- It is a ordered sequence of values

In [47]:
dance = ("jazz", "salsa", "tap")
print(dance)
print(type(dance))
 # Check the type of the 'parents' variable

('jazz', 'salsa', 'tap')
<class 'tuple'>

In [44]:
tuplelist = list(dance)
print(tuplelist) # Output the list
print(type(tuplelist)) # Check the type of 'tuplelist'

['jazz', 'salsa', 'tap']
<class 'list'>

In [45]:
tuplelist.append("ballet") # Add new line to the list 'tuplelist'
print(tuplelist) # Output the updated list

['jazz', 'salsa', 'tap', 'ballet']

In [48]:
t =tuple(tuplelist) # Convert the list 'tuplelist' back to a tuple
print(t) # Check the value of the new tuple

('jazz', 'salsa', 'tap', 'ballet')

In [50]:
length = len(tuplelist) # Get the length of the list 'tuplelist'
print(length) # Output of the length

4

## Working with Sets

{ }
- It is an unordered collection with no duplicate elements
- Computer implementation of the mathematical concept of a finite set
- Mutable

In [51]:
x = {"lion", "fox", "camel"}
print(x) # Output of the set

{'camel', 'lion', 'fox'}

In [52]:
x.add("duck") # Add an element to the set
print(x) # Output of the updated set

{'camel', 'lion', 'fox', 'duck'}

In [53]:
x.remove("lion") # Remove an element from the set
print(x) # Output of the updated set

{'camel', 'fox', 'duck'}

In [55]:
z = {(1,2,3),"Hello", 2, True}
 # Output of the set
print(z)

{True, 2, 'Hello', (1, 2, 3)}

In [60]:
r = [1,2,8,4,4,6,7]
print(r) # Output of the original list

s = set(r) # Convert the list to a set (to remove duplicates)
print(s) # Output of the converted set

print(type(r)) # Check the data type of r_set
print(type(s)) # Output of the converted set

[1, 2, 8, 4, 4, 6, 7]
{1, 2, 4, 6, 7, 8}
<class 'list'>
<class 'set'>